<h3 class="mb-4">Datepicker (FormControl)</h3>
<code>
  <div>Value: {{ dateForm.value.date | json }}</div>
  <div class="mt-3">Value: {{ dateForm.value.dateEmpty | json }}</div>
</code>
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <form [formGroup]="dateForm">
    <ngg-datepicker formControlName="date" label="Date" [options]="options">
      <span class="form-info">Select a date</span>
    </ngg-datepicker>
    <ngg-datepicker formControlName="dateEmpty"></ngg-datepicker>
  </form>
</div>

<h3 class="mb-4 mt-4">Datepicker (NgModel)</h3>
<code>
  <div>Value: {{ ngModelDate | json }}</div>
  <div class="mt-3">Value: {{ ngModelDateEmpty | json }}</div>
</code>
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <ngg-datepicker [(ngModel)]="ngModelDate" label="Date">
    <span class="form-info">Select a date</span>
  </ngg-datepicker>
  <ngg-datepicker [(ngModel)]="ngModelDateEmpty"></ngg-datepicker>
</div>

<h3 class="mb-4 mt-4">Datepicker (value)</h3>
<code>
  <div>Value: {{ value | json }}</div>
  <div class="mt-3">Value: {{ valueEmpty | json }}</div>
</code>
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <ngg-datepicker [(value)]="value" label="Date" (valueChange)="test($event)">
    <span class="form-info">Select a date</span>
  </ngg-datepicker>
  <ngg-datepicker [(value)]="valueEmpty"></ngg-datepicker>
</div>

<h3 class="mb-4 mt-5">Form group and validation</h3>
<form [formGroup]="validationForm" #ngForm="ngForm" (submit)="save()">
  <ng-container *ngIf="validationForm.get('date') as date">
    <ngg-datepicker
      formControlName="date"
      label="Date"
      [options]="options"
      [isValid]="ngForm.submitted ? date.valid : null"
    >
      <!-- Hint text when not submitted -->
      <ng-container data-form-info *ngIf="!ngForm['submitted']"
        >Select date</ng-container
      >
      <ng-container data-form-info *ngIf="ngForm['submitted']">
        <!-- Text when form control contains one or more errors -->
        <ng-container *ngIf="date.errors as errors">
          <!-- Text for each error (only one will be displayed at a time) -->
          <ng-container *ngIf="errors['required']">Select a date</ng-container>
          <ng-container *ngIf="errors['validDate'] === true"
            >Enter valid date</ng-container
          >
          <ng-container
            *ngIf="errors['validDate'] && errors['validDate']['minDate']"
            >Enter date after
            {{
              errors['validDate']['minDate'] | date: 'shortDate'
            }}</ng-container
          >
          <ng-container
            *ngIf="errors['validDate'] && errors['validDate']['maxDate']"
            >Enter date before
            {{
              errors['validDate']['maxDate'] | date: 'shortDate'
            }}</ng-container
          >
        </ng-container>
      </ng-container>
    </ngg-datepicker>
  </ng-container>
  <button type="submit" [disabled]="ngForm.submitted && validationForm.invalid">
    Save
  </button>
  <button (click)="validationForm.reset()">Reset</button>
</form>
<code>
  <h5 class="mb-0">Form data</h5>
  <div>
    Submitted: {{ ngForm.submitted }} Invalid: {{ validationForm.invalid }}
  </div>
  <h5 class="mb-0">Values</h5>
  <div>
    {{ validationForm.value | json }}
  </div>
  <h5 class="mb-0">Errors</h5>
  <div *ngFor="let f of validationForm.controls | keyvalue">
    {{ f.key }}:{{ f.value.errors | json }}
  </div>
</code>
