@import 'reset.css';
@import 'motion.css';

@layer core {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-padding-top: 160px;
  }

  body {
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    font-family: var(--gds-font-family);
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: var(--gds-color-l1-background-primary);
      color: var(--gds-color-l1-content-primary);
    }
  }

  body {
    letter-spacing: 0.1px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    font-family: var(--gds-font-family);
  }

  @layer blocks;
}
