/* code block style */
@layer core {
  @layer layout.component {
    [data-rehype-pretty-code-fragment] {
      margin-top: 1lh;
      pre {
        border-radius: 8px;
        padding: 1lh;
        overflow-x: scroll;
        border: 1px solid hsla(222, 11%, 24%, 1) !important;
      }

      pre:has([data-line-numbers]) {
        padding: 1lh 0;
      }
    }

    [data-line] {
      padding-block: 0.2lh;
    }

    [data-highlighted-line] {
      background-color: hsla(222, 11%, 20%, 1);
      box-shadow: inset 4px 0 0 0 rgb(127, 132, 142);
    }

    code {
      display: grid;
      font-size: 16px;

      &[data-line-numbers] {
        & > span {
          padding-left: 2ch;
          counter-increment: line;
          gap: 1ch;

          &:before {
            display: inline-block;
            text-align: right;
            content: counter(line);
            color: white;
            font-variant-numeric: tabular-nums;
            opacity: 0.2;
            margin-right: 2ch;
            width: 2ch;
          }
        }
      }
    }
  }
}
