[theme="light"] {
  color-scheme: light;
  --gds-sys-color-accent-accent-green: #006d31;
  --gds-sys-color-accent-accent-orange: #ffba30;
  --gds-sys-color-background-background: #ffffff;
  --gds-sys-color-background-background-dim: #f3f3f2;
  --gds-sys-color-container-container: #f3f3f2;
  --gds-sys-color-container-container-dim1: #e7e7e4;
  --gds-sys-color-container-container-dim2: #dadad7;
  --gds-sys-color-container-container-bright: #ffffff;
  --gds-sys-color-container-container-shade1: #353531;
  --gds-sys-color-container-container-shade2: #1b1b18;
  --gds-sys-color-container-container-disabled: #f9f9f9;
  --gds-sys-color-container-container-positive: #006d31;
  --gds-sys-color-container-container-negative: #ba1d00;
  --gds-sys-color-content-content: #353531;
  --gds-sys-color-content-content-inverse: #ffffff;
  --gds-sys-color-content-content-secondary: #6a6a62;
  --gds-sys-color-content-content-positive: #006d31;
  --gds-sys-color-content-content-negative: #ba1d00;
  --gds-sys-color-content-content-negative-bright: #fff8f6;
  --gds-sys-color-content-content-custom-blue-bright: #f8f9ff;
  --gds-sys-color-content-content-disabled: #9d9d95;
  --gds-sys-color-custom-custom-blue: #005fac;
  --gds-sys-color-custom-on-custom-blue: #d4e3ff;
  --gds-sys-color-custom-custom-blue-bright: #d4e3ff;
  --gds-sys-color-custom-on-custom-blue-bright: #00315d;
  --gds-sys-color-custom-custom-green: #003916;
  --gds-sys-color-custom-on-custom-green: #eaffe8;
  --gds-sys-color-custom-custom-green-bright: #eaffe8;
  --gds-sys-color-custom-on-custom-green-bright: #003916;
  --gds-sys-color-custom-custom-grey: #353531;
  --gds-sys-color-custom-on-custom-grey: #e7e7e4;
  --gds-sys-color-custom-custom-grey-bright: #e7e7e4;
  --gds-sys-color-custom-on-custom-grey-bright: #353531;
  --gds-sys-color-primary-primary: #353531;
  --gds-sys-color-state-layers-state-black: rgba(0, 0, 0, 0.1);
  --gds-sys-color-state-layers-state-black-dim1: rgba(0, 0, 0, 0.2);
  --gds-sys-color-state-layers-state-black-dim2: rgba(0, 0, 0, 0.4);
  --gds-sys-color-state-layers-state-black-shade: rgba(0, 0, 0, 0.6);
  --gds-sys-color-state-layers-state-positive: rgba(0, 109, 49, 0.1);
  --gds-sys-color-state-layers-state-positive-dim: rgba(0, 109, 49, 0.2);
  --gds-sys-color-state-layers-state-negative: rgba(186, 29, 0, 0.1);
  --gds-sys-color-state-layers-state-negative-dim: rgba(186, 29, 0, 0.2);
  --gds-sys-color-state-layers-state-custom-blue: rgba(0, 95, 172, 0.2);
  --gds-sys-color-status-information-information: #353531;
  --gds-sys-color-status-information-on-information: #ffffff;
  --gds-sys-color-status-information-information-bright: #f3f3f2;
  --gds-sys-color-status-information-on-information-bright: #353531;
  --gds-sys-color-status-negative-negative: #ba1d00;
  --gds-sys-color-status-negative-on-negative: #ffffff;
  --gds-sys-color-status-negative-negative-bright: #ffede9;
  --gds-sys-color-status-negative-on-negative-bright: #ba1d00;
  --gds-sys-color-status-warning-warning: #9d6e00;
  --gds-sys-color-status-warning-on-warning: #ffffff;
  --gds-sys-color-status-warning-warning-bright: #ffeed9;
  --gds-sys-color-status-warning-on-warning-bright: #7d5700;
  --gds-sys-color-status-positive-positive: #006d31;
  --gds-sys-color-status-positive-on-positive: #ffffff;
  --gds-sys-color-status-positive-positive-bright: #eaffe8;
  --gds-sys-color-status-positive-on-positive-bright: #006d31;
  --gds-sys-color-status-notice-notice: #005fac;
  --gds-sys-color-status-notice-on-notice: #ffffff;
  --gds-sys-color-status-notice-notice-bright: #ebf1ff;
  --gds-sys-color-status-notice-on-notice-bright: #005fac;
  --gds-sys-color-stroke-stroke: #353531;
  --gds-sys-color-stroke-stroke-variant1: #85857a;
  --gds-sys-color-stroke-stroke-variant2: #cececa;
  --gds-sys-color-stroke-stroke-disabled: #9d9d95;
  --gds-sys-color-stroke-stroke-notice: #005fac;
  --gds-sys-color-stroke-stroke-positive: #006d31;
  --gds-sys-color-stroke-stroke-warning: #7d5700;
  --gds-sys-color-stroke-stroke-negative: #ba1d00;
  --gds-sys-color-stroke-stroke-custom-blue: #ba1d00;
}

[theme="dark"] {
  color-scheme: dark;
  --gds-sys-color-accent-accent-green: #006d31;
  --gds-sys-color-accent-accent-orange: #ffba30;
  --gds-sys-color-background-background: #282825;
  --gds-sys-color-background-background-dim: #353531;
  --gds-sys-color-container-container: #1b1b18;
  --gds-sys-color-container-container-dim1: #353531;
  --gds-sys-color-container-container-dim2: #505049;
  --gds-sys-color-container-container-bright: #1b1b18;
  --gds-sys-color-container-container-shade1: #dadad7;
  --gds-sys-color-container-container-shade2: #353531;
  --gds-sys-color-container-container-disabled: #42423d;
  --gds-sys-color-container-container-positive: #006d31;
  --gds-sys-color-container-container-negative: #d02200;
  --gds-sys-color-content-content: #e7e7e4;
  --gds-sys-color-content-content-inverse: #282825;
  --gds-sys-color-content-content-secondary: #a9a9a2;
  --gds-sys-color-content-content-positive: #48b265;
  --gds-sys-color-content-content-negative: #ff7257;
  --gds-sys-color-content-content-negative-bright: #fff8f6;
  --gds-sys-color-content-content-custom-blue-bright: #f8f9ff;
  --gds-sys-color-content-content-disabled: #cececa;
  --gds-sys-color-custom-custom-blue: #006cc1;
  --gds-sys-color-custom-on-custom-blue: #bcd6ff;
  --gds-sys-color-custom-custom-blue-bright: #1992ff;
  --gds-sys-color-custom-on-custom-blue-bright: #d4e3ff;
  --gds-sys-color-custom-custom-green: #003916;
  --gds-sys-color-custom-on-custom-green: #eaffe8;
  --gds-sys-color-custom-custom-green-bright: #eaffe8;
  --gds-sys-color-custom-on-custom-green-bright: #003916;
  --gds-sys-color-custom-custom-grey: #353531;
  --gds-sys-color-custom-on-custom-grey: #e7e7e4;
  --gds-sys-color-custom-custom-grey-bright: #e7e7e4;
  --gds-sys-color-custom-on-custom-grey-bright: #353531;
  --gds-sys-color-primary-primary: #353531;
  --gds-sys-color-state-layers-state-black: rgba(0, 0, 0, 0.1);
  --gds-sys-color-state-layers-state-black-dim1: rgba(0, 0, 0, 0.2);
  --gds-sys-color-state-layers-state-black-dim2: rgba(0, 0, 0, 0.4);
  --gds-sys-color-state-layers-state-black-shade: rgba(0, 0, 0, 0.6);
  --gds-sys-color-state-layers-state-positive: rgba(0, 109, 49, 0.1);
  --gds-sys-color-state-layers-state-positive-dim: rgba(0, 109, 49, 0.2);
  --gds-sys-color-state-layers-state-negative: rgba(186, 29, 0, 0.1);
  --gds-sys-color-state-layers-state-negative-dim: rgba(186, 29, 0, 0.2);
  --gds-sys-color-state-layers-state-custom-blue: rgba(0, 95, 172, 0.2);
  --gds-sys-color-status-information-information: #cececa;
  --gds-sys-color-status-information-on-information: #353531;
  --gds-sys-color-status-information-information-bright: #353531;
  --gds-sys-color-status-information-on-information-bright: #f3f3f2;
  --gds-sys-color-status-negative-negative: #ff8a73;
  --gds-sys-color-status-negative-on-negative: #ffede9;
  --gds-sys-color-status-negative-negative-bright: #650b00;
  --gds-sys-color-status-negative-on-negative-bright: #ffede9;
  --gds-sys-color-status-warning-warning: #8d6300;
  --gds-sys-color-status-warning-on-warning: #fff8f3;
  --gds-sys-color-status-warning-warning-bright: #422c00;
  --gds-sys-color-status-warning-on-warning-bright: #ffeed9;
  --gds-sys-color-status-positive-positive: #007b38;
  --gds-sys-color-status-positive-on-positive: #eaffe8;
  --gds-sys-color-status-positive-positive-bright: #003916;
  --gds-sys-color-status-positive-on-positive-bright: #eaffe8;
  --gds-sys-color-status-notice-notice: #1992ff;
  --gds-sys-color-status-notice-on-notice: #00264b;
  --gds-sys-color-status-notice-notice-bright: #00264b;
  --gds-sys-color-status-notice-on-notice-bright: #ebf1ff;
  --gds-sys-color-stroke-stroke: #cececa;
  --gds-sys-color-stroke-stroke-variant1: #505049;
  --gds-sys-color-stroke-stroke-variant2: #353531;
  --gds-sys-color-stroke-stroke-disabled: #9d9d95;
  --gds-sys-color-stroke-stroke-notice: #1992ff;
  --gds-sys-color-stroke-stroke-positive: #48b265;
  --gds-sys-color-stroke-stroke-warning: #ae7a00;
  --gds-sys-color-stroke-stroke-negative: #ff7257;
  --gds-sys-color-stroke-stroke-custom-blue: #ff5636;
}

@layer core {
  @layer tokens {
    :root {
      --color-white: hsl(0 0% 100%);
      --color-black: hsla(60, 6%, 10%, 1);
      --color-alpha: 90%;
      --color-mix: color-mix(
        in srgb,
        var(--color-black),
        transparent var(--color-alpha)
      );
      --transition: all 248ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      --header-height: 72px;

      /* Font sizes  */
      --gds-fs-base: 100%; /* 16px is the default font size */
      --gds-fs-display-large: 5.125rem; /* 82px / 16px = 5.125rem */
      --gds-fs-display-medium: 4rem; /* 64px / 16px = 4rem */
      --gds-fs-display-small: 2.5rem; /* 40px / 16px = 2.5rem */
      --gds-fs-headline-large: 2rem; /* 32px / 16px = 2rem */
      --gds-fs-headline-medium: 1.75rem; /* 28px / 16px = 1.75rem */
      --gds-fs-headline-small: 1.5rem; /* 24px / 16px = 1.5rem */
      --gds-fs-title-large: 1.375rem; /* 22px / 16px = 1.375rem */
      --gds-fs-title-medium: 1rem; /* 16px / 16px = 1.6rem */
      --gds-fs-title-small: 0.875rem; /* 14px / 16px = .875rem */
      --gds-fs-body-large: 1rem; /* 16px / 16px = 1rem */
      --gds-fs-body-medium: 0.875rem; /* 14px / 16px = .875rem */
      --gds-fs-body-small: 0.75rem; /* 12px / 16px = .75rem */
      --gds-fs-label-large: 1rem; /* 16px / 16px = 1rem */
      --gds-fs-label-medium: 0.875rem; /* 14px / 16px = .875rem */
      --gds-fs-label-small: 0.75rem; /* 12px / 16px = .75rem */
      --gds-fs-label-information-large: 1rem; /* 16px / 16px = 1rem */
      --gds-fs-label-information-medium: 0.875rem; /* 14px / 16px = .75rem */
      --gds-fs-label-input-large: 1rem; /* 16px / 16px = 1rem */
      --gds-fs-label-input-medium: 0.875rem; /* 14px / 16px = .875rem */
      --gds-fs-label-overline: 0.875rem; /* 14px / 16px = .875rem */

      /* Line heights */
      --gds-lh-display-large: 1.0976; /* 82/98 */
      --gds-lh-display-medium: 1.25; /* 80/64 */
      --gds-lh-display-small: 1.3077; /* 52/40 */
      --gds-lh-headline-large: 1.25; /* 40/32 */
      --gds-lh-headline-medium: 1.125; /* 36/32 */
      --gds-lh-headline-small: 1.2; /* 30/24 */
      --gds-lh-title-large: 1.1071; /* 28/22 */
      --gds-lh-title-medium: 1.5; /* 24/16 */
      --gds-lh-title-small: 1.4286; /* 20/14 */
      --gds-lh-body-large: 1.5; /* 16/24 */
      --gds-lh-body-medium: 1.4286; /* 14/20 */
      --gds-lh-body-small: 1.3333; /* 16/12 */
      --gds-lh-label-large: 1.25; /* 20/16 */
      --gds-lh-label-medium: 1.4286; /* 20/14 */
      --gds-lh-label-small: 1.3333; /* 16/12 */
      --gds-lh-label-information-large: 1.25; /* 20/16 */
      --gds-lh-label-information-medium: 1.4286; /* 20/14 */
      --gds-lh-label-input-large: 1.25; /* 20/16 */
      --gds-lh-label-input-medium: 1.4286; /* 20/14 */
      --gds-lh-label-overline: 1.1667; /* 18/14 */

      /* Font weights */
      --gds-fw-light: 300;
      --gds-fw-regular: 400;
      --gds-fw-book: 450;
      --gds-fw-medium: 500;
      --gds-fw-bold: 700;

      /* letter-spacing */
      --gds-ls-normal: normal;
      --gds-ls-narrow: -0.04ch;

      /* Breaking Points / Max Widths */
      /* These should come from token package: break points */
      --gds-bp-mobile: 425px;
      --gds-bp-tablet: 768px;
      --gds-bp-desktop-sm: 1024px;
      --gds-bp-desktop-md: 1440px;
      --gds-bp-desktop-lg: 2560px;

      /* Gaps */
      /* These should come from token package: sizes */
      /* --gds-gap-none: 0;
      --gds-gap-n-l: 24px;
      --gds-gap-n-xxl: 48px;
      --gds-gap-n-xxxl: 96px;  */

      --gds-gap-none: 0px;
      --gds-gap-xs: 4px;
      --gds-gap-s: 8px;
      --gds-gap-m: 16px;
      --gds-gap-l: 24px;
      --gds-gap-xl: 32px;
      --gds-gap-xxl: 48px;
      --gds-gap-xxxl: 96px;

      /* Add this on tokens  */
      --gds-paragraph-max: 80ch;
    }

    @media (prefers-color-scheme: dark) {
      [theme="dark"] {
        --color-white: hsla(60, 6%, 10%, 1);
        --color-black: hsl(0 0% 100%);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      :root {
        --transition: none;
      }
    }
  }
}
