@layer core {
  @layer typography {
    h1 {
      font-size: var(--gds-fs-display-large);
      line-height: var(--gds-lh-display-large);
      font-weight: 450;
    }

    h2 {
      font-size: var(--gds-fs-headline-medium);
      line-height: var(--gds-lh-headline-medium);
      font-weight: 450;
    }

    h3 {
      font-size: var(--gds-fs-title-large);
      line-height: var(--gds-lh-title-large);
      font-weight: 450;
    }

    /* Lists */

    ul {
      margin-block-end: var(--gds-gap-m);
    }

    li + li {
      margin-block-start: var(--gds-gap-s);
    }

    /* Paragraphs */

    p {
      font-size: var(--gds-fs-body-large);
      line-height: var(--gds-lh-body-large);
      margin-block-end: 1rem;

      &.color-secondary {
        color: var(--gds-sys-color-content-content-secondary);
      }
    }

    strong {
      font-weight: 500;
    }
    .heading-medium {
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.25rem;
    }

    .paragraph-medium {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;

      li {
        line-height: 1.875rem;
      }
    }

    .paragraph-medium + .paragraph-medium {
      margin-top: 1.875rem;
    }

    p {
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 0.0125rem;
    }

    li {
      line-height: 1.5rem;
    }
  }
}

/* 
 *  Add font sizes 
 */

.gds-fs-display-large {
  font-size: var(--gds-fs-display-large);
  line-height: var(--gds-lh-display-large);
}

.gds-fs-display-medium {
  font-size: var(--gds-fs-display-medium);
  line-height: var(--gds-lh-display-medium);
}

.gds-fs-display-small {
  font-size: var(--gds-fs-display-small);
  line-height: var(--gds-lh-display-small);
}

.gds-fs-headline-large {
  font-size: var(--gds-fs-headline-large);
  line-height: var(--gds-lh-headline-large);
}

.gds-fs-headline-medium {
  font-size: var(--gds-fs-headline-medium);
  line-height: var(--gds-lh-headline-medium);
}

.gds-fs-headline-small {
  font-size: var(--gds-fs-headline-small);
  line-height: var(--gds-lh-headline-small);
}

.gds-fs-title-large {
  font-size: var(--gds-fs-title-large);
  line-height: var(--gds-lh-title-large);
}

.gds-fs-title-medium {
  font-size: var(--gds-fs-title-medium);
  line-height: var(--gds-lh-title-medium);
}

.gds-fs-title-small {
  font-size: var(--gds-fs-title-small);
  line-height: var(--gds-lh-title-small);
}

.gds-fs-body-large {
  font-size: var(--gds-fs-body-large);
  line-height: var(--gds-lh-body-large);
}

.gds-fs-body-large-italic {
  font-size: var(--gds-fs-body-large);
  line-height: var(--gds-lh-body-large);
}

.gds-fs-body-medium {
  font-size: var(--gds-fs-body-medium);
  line-height: var(--gds-lh-body-medium);
}

.gds-fs-body-medium-italic {
  font-size: var(--gds-fs-body-medium);
  line-height: var(--gds-lh-body-medium);
}

.gds-fs-body-small {
  font-size: var(--gds-fs-body-small);
  line-height: var(--gds-lh-body-small);
}

.gds-fs-body-small-italic {
  font-size: var(--gds-fs-body-small);
  line-height: var(--gds-lh-body-small);
}

.gds-fs-label-large {
  font-size: var(--gds-fs-label-large);
  line-height: var(--gds-lh-label-large);
}

.gds-fs-label-medium {
  font-size: var(--gds-fs-label-medium);
  line-height: var(--gds-lh-label-medium);
}

.gds-fs-label-small {
  font-size: var(--gds-fs-label-small);
  line-height: var(--gds-lh-label-small);
}

.gds-fs-label-information-large {
  font-size: var(--gds-fs-label-information-large);
  line-height: var(--gds-lh-label-information-large);
}

.gds-fs-label-information-medium {
  font-size: var(--gds-fs-label-information-medium);
  line-height: var(--gds-lh-label-information-medium);
}

.gds-fs-label-input-large {
  font-size: var(--gds-fs-label-input-large);
  line-height: var(--gds-lh-label-input-large);
}

.gds-fs-label-input-medium {
  font-size: var(--gds-fs-label-input-medium);
  line-height: var(--gds-lh-label-input-medium);
}

.gds-fs-label-input-overline {
  font-size: var(--gds-fs-label-input-overline);
  line-height: var(--gds-lh-label-input-overline);
}

/* Clamp ————— https://developer.mozilla.org/en-US/docs/Web/CSS/clamp */
.gds-clamp {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

/* Heading */

.gds-prose {
  h1 {
    font-size: var(--gds-fs-display-large);
    line-height: var(--gds-lh-display-large);
    font-weight: 450;
    margin-block-end: var(--gds-gap-xxl);
  }

  h2 {
    font-size: var(--gds-fs-headline-medium);
    line-height: var(--gds-lh-headline-medium);
    font-weight: 450;
    margin-block-start: var(--gds-gap-xxxl);
    margin-block-end: var(--gds-gap-l);
  }

  h3 {
    font-size: var(--gds-fs-title-large);
    line-height: var(--gds-lh-title-large);
    font-weight: 450;
    margin-block-start: var(--gds-gap-xxl);
    margin-block-end: var(--gds-gap-m);
  }

  /* Lists */

  ul {
    margin-block-end: var(--gds-gap-m);
  }

  li + li {
    margin-block-start: var(--gds-gap-s);
  }

  /* Paragraphs */

  p {
    font-size: var(--gds-fs-body-large);
    line-height: var(--gds-lh-body-large);
    margin-block-end: 1rem;

    &.color-secondary {
      color: var(--gds-sys-color-content-content-secondary);
    }
  }

  strong {
    font-weight: 500;
  }
}
