@layer core {
  @layer utility {
    .text-secondary {
      color: var(--gds-sys-color-content-content-secondary);
    }

    /* prettier-ignore */
    [padding-block] {
      padding-block: var(--gds-padding-block);
      &[padding-block="small"]  { --gds-padding-block: var(--gds-gap-l) }
      &[padding-block="medium"] { --gds-padding-block: var(--gds-gap-xxl) }
      &[padding-block="large"]  { --gds-padding-block: var(--gds-gap-xxxl) }
    }

    /* prettier-ignore */
    [padding-inline] {
      padding-inline: var(--gds-padding-inline);
      &[padding-inline="small"]  { --gds-padding-inline: var(--gds-gap-l) }
      &[padding-inline="medium"] { --gds-padding-inline: var(--gds-gap-xxl) }
      &[padding-inline="large"]  { --gds-padding-inline: var(--gds-gap-xxxl) }
    }

    /* prettier-ignore */
    [gap-block] {
      row-gap: var(--gds-gap-block);
      &[gap-block="small"]  { --gds-gap-block: var(--gds-gap-l) }
      &[gap-block="medium"] { --gds-gap-block: var(--gds-gap-xxl) }
      &[gap-block="large"]  { --gds-gap-block: var(--gds-gap-xxxl) }
    }

    /* prettier-ignore */
    [gap-inline] {
      column-gap: var(--gds-gap-inline);
      &[gap-inline="small"]  { --gds-gap-inline: var(--gds-gap-l) }
      &[gap-inline="medium"] { --gds-gap-inline: var(--gds-gap-xxl) }
      &[gap-inline="large"]  { --gds-gap-inline: var(--gds-gap-xxxl) }
    }

    /* prettier-ignore */
    [packed] {
      max-width: max-content;
    }
  }
}
