@layer core {
  @layer layouts {
    @layer component {
      .layout.component {
        --_padding: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: calc(1180px + (var(--_padding) * 2));
        padding: var(--_padding);
        margin-inline: auto;
        --border-color: color-mix(in srgb, var(--color-black), transparent 90%);

        aside {
          position: sticky;
          top: 120px;
        }

        header {
          width: 100%;
          display: flex;
          gap: 48px;
          flex-direction: row;

          .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            flex: 1;
            justify-content: space-between;

            .intro {
              display: flex;
              gap: 16px;
              flex-direction: column;
              max-width: 80ch;

              h1 {
                font-size: 32px;
                line-height: 1.25;
              }
              p {
                font-size: 20px;
                line-height: 1.3;
              }
            }
          }

          .details {
            display: flex;
            flex-direction: row;
            gap: 20px;
            position: relative;
            font-size: 14px;
            /* flex-wrap: wrap; */

            > div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 10px;
              block-size: 100%;

              &::before {
                content: attr(title);
                display: flex;
                font-size: 12px;
                line-height: 1.25;
                position: absolute;
                top: -24px;
              }

              .status {
                text-transform: uppercase;
                padding: 4px 8px;
                border-radius: 4px;
                background-color: hsla(222, 100%, 96%, 1);
                color: hsla(207, 100%, 34%, 1);
                white-space: nowrap;
              }

              menu {
                display: flex;
                flex-direction: row;
                gap: 1ch;
                font-size: 14px;

                div {
                  display: flex;
                  align-items: center;
                  padding: 6px 12px;
                  border-radius: 200px;
                  border: 1px solid var(--gds-sys-color-stroke-stroke);
                  white-space: nowrap;
                  word-break: normal;

                  &.more {
                    display: flex;
                    height: 32px;
                    width: 32px;
                    padding: 0;
                    align-items: center;
                    justify-content: center;

                    svg {
                      fill: none;
                      width: 18px;
                      height: 4px;

                      path {
                        fill: currentColor;
                      }
                    }
                  }
                }
              }
            }
          }

          figure {
            inline-size: 480px;
            block-size: 250px;
          }
        }

        article {
          display: flex;
          width: 100%;
          gap: 48px;
          align-items: flex-start;

          .content {
            padding-block-start: 40px;
            flex: 0 1 100%;
            font-size: 16px;
            line-height: 1.5;
            /* max-width: max-content; */

            main {
              /* inline-size: 830px; */

              p {
                text-wrap: balance;
                margin-top: 2ex;
              }

              & > figure.preview {
                margin-top: 24px;
              }
            }
          }

          aside {
            padding-block-start: 40px;
            position: sticky;
            top: 80px;
            min-width: 200px;
            max-width: 200px;
          }

          h2 {
            font-size: 24px;
          }

          h3 {
            font-size: 20px;
          }

          h4 {
            font-size: 18px;
          }

          h2,
          h3,
          h4 {
            position: relative;
            font-weight: 600;
            margin-block-start: 24px;
          }

          .col :is(h2, h3, h4) {
            margin-block-start: 0;
          }

          hr {
            border: none;
            background-image: linear-gradient(
              to bottom,
              var(--border-color),
              var(--border-color)
            );
            background-repeat: repeat-x;
            background-size: 100% 1px;
            background-position: center;
            margin-block: 48px;
            height: 1px;
          }

          ul {
            list-style: inside;
            padding-top: 24px;

            li {
              padding-left: 2ch;
              position: relative;

              &::before {
                content: "•";
                position: absolute;
                left: 0;
              }
            }
          }

          img {
            border-radius: 8px;
            margin-block: 2ex;
            border: 1px solid
              color-mix(in srgb, var(--color-black), transparent 94%);
          }

          .col img {
            margin-block: 0;
          }

          .col figure {
            margin-block-start: 0;
            aspect-ratio: 16 / 9;
            height: auto;

            img {
              display: flex;
              object-fit: cover;
              width: 100%;
              aspect-ratio: 16 / 9;
              height: auto;
            }
          }

          figure:has(iframe) {
            transition: var(--transition);
            display: flex;
            flex-direction: column;
            pointer-events: all;
            margin-block-start: 1lh;

            figcaption {
              font-size: 14px;
              margin-block-start: 1lh;
              margin-bottom: 1lh;
            }

            iframe {
              width: 100%;
              aspect-ratio: 16 / 9;
              border: none;
              border-radius: 8px;
              border: 1px solid
                color-mix(in srgb, var(--color-black), transparent 90%);
              background-color: transparent !important;
              transition: var(--transition);
              transition-delay: 1s;
              /* pointer-events: none; */
              user-select: none;
            }
          }

          figure:not(:has(iframe)) {
            figcaption {
              font-size: 12px;
              margin-block-start: 1lh;
              margin-bottom: 1lh;
            }
          }

          div[data-rehype-pretty-code-fragment] {
            margin-top: 20px;

            pre {
              padding: 20px;
              line-height: 1.5;
              border-radius: 8px;
            }
          }
        }

        footer {
          font-size: 12px;
          margin-block-start: 40px;
        }

        playground-preview {
          --playground-preview-toolbar-background: var(
            --gds-sys-color-background-background
          );
          --playground-preview-toolbar-foreground-color: var(
            --gds-sys-color-content-content
          );
          --playground-border: none;
          border-radius: 12px;
          overflow: hidden;

          &::part(preview-toolbar) {
            display: none;
          }
        }
      }
    }
  }
}
