@use '../../tokens';
@use '../../common';

$close-height: 42px;
$close-padding: 20px;
$close-thickness: 4px;
@mixin close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
    background: transparent;
    border-radius: 50%;
    content: '';
    width: $close-height;
    height: $close-height;
    position:relative;

  &::after {
    content: '';
    width: $close-thickness;
    height: $close-height - $close-padding;
    display: block;
    background: tokens.$black;
    transform: rotateZ(45deg);
    position:absolute;
    top: $close-padding/2;
    left: calc(50% - #{$close-thickness/2});
  }

  &::before {
    content: '';
    width: $close-thickness;
    height: $close-height - $close-padding;
    display: block;
    background: tokens.$black;
    transform: rotateZ(-45deg);
    position: absolute;
    top: $close-padding/2;
    left: calc(50% - #{$close-thickness/2});
  }
  @include common.add-hover-active-state(map-get(tokens.$grey, 6),$active: map-get(tokens.$grey, 4));
  @include common.add-focus();
}