.layout {
  &.home {
    .no-pointer {
      pointer-events: none;
    }
  }
}
/* 
.hero-animated {
  transition: clip-path 2000ms cubic-bezier(0.77, 0, 0.175, 1);
  clip-path: inset(0% 0% 0% 0%);
  transition-delay: 400ms;

  @starting-style {
    clip-path: inset(50% 0% 50% 0%);
  }
}

.hero-img {
  transition: transform 1400ms cubic-bezier(0.77, 0, 0.175, 1) 300ms;
  transform-origin: center;
  transform: scale(1);
  transition-delay: 600ms;

  @starting-style {
    transform: scale(1.15);
  }
}

.hero-intro,
.hero-search {
  transition: all 1600ms cubic-bezier(0.65, 0.05, 0.36, 1);

  @starting-style {
    opacity: 0;
    translate: 0 40px;
  }
}

.hero-search {
  transition-delay: 100ms;
} */
