.header {
  background-color: transparent;
  z-index: 10;

  .glass {
    display: flex;
    position: absolute;
    inset: 0;
    height: 140px;
    width: 100%;
    backdrop-filter: blur(14px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.85) 60%,
      rgba(0, 0, 0, 0.4) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    overflow: hidden;
    isolation: isolate;
    z-index: -1;
  }

  [data-filter] {
    display: none;
  }
}
