.header {
  background-color: transparent;
  z-index: 10;

  .glass {
    position: absolute;
    inset: 0;
    mask-image: linear-gradient(to bottom, canvas, transparent);
    backdrop-filter: blur(41px);
    z-index: -1;
    height: 100px;
    pointer-events: none;
  }
}
