$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;
$color-grey-100: #fbfbfb;
$color-grey-200: #e9e9e9;
$color-grey-300: #dedede;
$color-grey-400: #cecece;
$color-grey-500: #adadad;
$color-grey-600: #868686;
$color-grey-700: #494949;
$color-grey-800: #333;
$color-grey-900: #1a1a1a;
$color-green-100: #8fd668;
$color-green-300: #60cd18;
$color-green-500: #60cd18;
$color-green-700: #458400;
$color-green-900: #379d00;
$color-blue-100: #7ecff9;
$color-blue-300: #00adff;
$color-blue-500: #41b0ee;
$color-blue-700: #0092e1;
$color-blue-900: #007ac7;
$color-purple-100: #b39ddb;
$color-purple-300: #b39ddb;
$color-purple-500: #673ab6;
$color-purple-700: #4f2c99;
$color-purple-900: #3f2587;
$color-red-100: #f7706d;
$color-red-300: #f7706d;
$color-red-500: #ffc500;
$color-red-700: #d81a1a;
$color-red-900: #bb000c;
$color-yellow-100: #ffe182;
$color-yellow-300: #ffe182;
$color-yellow-500: #ffc500;
$color-yellow-700: #ffb400;
$color-yellow-900: #f8a000;
