@use '../../common/spacing';
@use '../../tokens';
@use './mixins';

$icon-color-in-button: map-get(tokens.$theme-colors, 'primary');
$icon-color-in-button-hover: tokens.$white;

.icon {
  @include mixins.icon-size(3);
  display: flex;
}

.icon.small {
  @include mixins.icon-size(1);
}

.icon.large {
  @include mixins.icon-size(5);
}

button svg.icon, .button svg.icon {
  transition: fill tokens.$transition-time;
}

button.icon-only {
  padding-left: .75rem;
  padding-right: .75rem;
}