# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# Next.JS
.contentlayer
.next
/out/
/dist/
/apps/docs/public/core-out/

# Green Core React wrappers
/libs/react/src/core

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/.yarn
/.nx
npm-debug.log
yarn-error.log
testem.log
/typings
package-lock.json # we should only have yarn.lock

# System Files
.DS_Store
Thumbs.db

.angular
.nx

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

custom-elements.json
storybook.log

# Components
icon.list.mdx

# Migrations
migrations.json
storybook-migration-summary.md

vite.config.*.timestamp*

# Figma
figma-connect
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

vitest.config.*.timestamp*
