{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "singleAttributePerLine": false,
        "printWidth": 200,
        "bracketSpacing": true
      }
    }
  ]
}
