{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 4,
    "scss/at-rule-no-unknown": true,
    "selector-max-id": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute", "class"]
      }
    ],
    "custom-property-pattern": "^(_?(?!-)[0-9a-z-]+)$"
  }
}
