<nav role="navigation" class="bg-dark">
  <a
    aria-label="Open seb.se in new tab"
    href="http://www.seb.se"
    target="_blank"
    class="brand"
  ></a>
  <h1 class="mx-4">Green Angular Dev</h1>
</nav>
<gds-flex border-width="0 0 4xs">
  <gds-menu-button
    *ngFor="let route of routes"
    [routerLink]="route.path"
    routerLinkActive
  >
    {{ route.data?.name }}
  </gds-menu-button>
</gds-flex>
<gds-div padding="m">
  <section aria-live="polite">
    <router-outlet></router-outlet>
  </section>
</gds-div>
