.icons-browser {
  position: relative;
  min-height: max-content;
}

.preview {
  svg {
    height: 24px;
    width: 24px;
  }
}

.icon-large-preview {
  svg {
    height: 48px;
    width: 48px;
  }
}
