@use '../../scss-tokens';
@use '../../mixins/utility';
@use '../../functions';

$selector-default: 'button:not([class])';
$selector: '.btn';
$selector-primary: '.btn-primary';

@mixin base {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  //@include utility.spacing-padding-horizontal('m');
  @include utility.padding-horizontal('m');
  @include utility.padding-vertical('s');
  @include utility.add-border-radius();
  @include utility.add-border();
  @include utility.font-weight('medium');
  @include utility.add-focus();



  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }

}

@mixin primary {
  background: map-get(scss-tokens.$theme-colors, 'primary');
  color: functions.choose-contrast-color(map-get(scss-tokens.$theme-colors, 'primary'));
  @include utility.add-hover-active-state();


  /*&:hover,
  &:active {
    color: tokens.$theme-light-secondary-opposite2;
    background-color: tokens.$theme-light-secondary-color2;
    border-color: transparent;
  }*/
}
