.sidebar {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  [data-backdrop] {
    backdrop-filter: blur(10px);
  }

  [data-fade] {
    transition: all 250ms;

    @starting-style {
      opacity: 0;
      translate: 10px 0;
    }
  }

  [data-sub-item] {
    padding-left: 42px;
  }
}

@keyframes ROW_SCROLL {
  0% {
    filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    scale: 0.96;
  }
}
