.sidebar {
  box-sizing: border-box;
  top: 0;
  height: 100vh;

  .list {
    height: 100%;
    min-height: 100%;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin;
    mask-image: linear-gradient(
      to bottom,
      transparent 10px,
      #fff 40px,
      #fff 90%,
      transparent 99%
    );
  }
}
