@layer core {
  @layer blocks {
    aside.toc {
      display: flex;
      flex-direction: column;

      span {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 1ex;
        color: var(--gds-sys-color-content-content);
      }

      nav {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        position: relative;

        a {
          --_inline-padding: 2ch;
          align-items: center;
          display: flex;
          border-left: 1px solid transparent;
          margin-left: -1px;
          color: var(--gds-sys-color-content-content-secondary);

          &:hover {
            text-decoration: underline;
          }

          &[data-level="1"] {
            margin-bottom: 1ex;
          }

          &[data-level="2"] {
            margin-top: 2ex;
            margin-bottom: 1ex;
            gap: 1ch;

            &::before {
              content: " ";
              display: flex;
              width: 6px;
              height: 6px;
              border-radius: 200px;
              background-color: currentColor;
            }
          }

          &[data-level="3"],
          &[data-level="4"] {
            margin-left: 2.5px;
            padding-left: var(--_inline-padding);
            border-left: 1px solid
              color-mix(in srgb, currentColor, transparent 80%);
            padding-block: 8px;
          }

          &.active {
            color: var(--gds-sys-color-content-content);

            &:not([data-level="2"]) {
              border-left-color: var(--gds-sys-color-content-content);
            }
          }
        }
      }
    }

    @media only screen and (max-width: 993px) {
      .layout.core .toc-sidebar {
        display: none;
      }
    }
  }
}
