.layout.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  --col-size: 200px;
  max-width: 1100px;
  margin-inline: auto;

  header {
    display: flex;
    opacity: 0.5;
    background-color: color-mix(in srgb, var(--color-black), transparent 99%);
    border-radius: 8px;
    padding: 16px 20px;
    width: 100%;

    > div {
      width: var(--col-size);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: color-mix(in srgb, var(--color-black), transparent 99%);
    border-radius: 8px;
    padding: 16px 20px;
    width: 100%;

    li {
      display: flex;

      > * {
        min-width: var(--col-size);
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
