// custom import of green
@use './libs/chlorophyll/scss/components/button'; // button component(s)
/* add the components you need here */
@use './libs/chlorophyll/scss/components/fonts'; // font declaration

@use './libs/charts/scss/mixins' as chart-mixins;
@include chart-mixins.add-chart-styles; // add charts
