figure.hero {
  --mix: color-mix(in srgb, currentColor, transparent 96%);
  display: flex;
  padding: 40px;
  min-block-size: 60vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 0;

  background-color: hsl(251, 72%, 35%);
  background-image: linear-gradient(
      to bottom,
      hsla(261, 80%, 48%, 0),
      rgb(32, 6, 82)
    ),
    radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 0),
    radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 0),
    linear-gradient(
      to left,
      hsla(260, 100%, 100%, 0.03) 1px,
      transparent 0px,
      transparent
    ),
    linear-gradient(
      to bottom,
      hsla(260, 100%, 100%, 0.04) 1px,
      transparent 0px,
      transparent
    ),
    linear-gradient(to right, transparent 99px, rgba(254, 254, 254, 0.08) 1px),
    linear-gradient(to top, transparent 99px, rgba(254, 254, 254, 0.08) 1px);
  background-size: cover, 40px 40px, 40px 40px, 6px 100%, 100% 6px, 100px 100%,
    100% 100px;
  background-position: top center, 0 0, 20px 20px, 18px 100%, 100% 18px, left,
    center;
  background-repeat: no-repeat, repeat, repeat, repeat-x, repeat-y, repeat-x,
    repeat-y;
  /* background-attachment: fixed, fixed, fixed, fixed, fixed, fixed, fixed; */

  .code,
  .design,
  .docs {
    display: flex;
    min-width: 380px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mix);
    padding: 40px;
    position: absolute;
    border-radius: 20px;
    background-color: var(--mix);
    backdrop-filter: blur(20px);
    z-index: -1;
    pointer-events: none;
  }

  .code {
    top: -40px;
    left: -40px;
    height: 400px;
  }

  .design {
    right: -40px;
    bottom: 40px;
    height: 600px;
  }

  .docs {
    bottom: -120px;
    left: 200px;
    width: 500px;
    height: 280px;
  }

  & button {
    color: #fff;
    border: 2px solid hsla(0, 0%, 100%, 0.145);
    border-radius: 200px;
    background-color: color-mix(in srgb, currentColor, transparent 96%);
    padding: 18px 24px;
    padding-inline-end: 32px;
    outline: none;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: border 0.2s ease-in-out;
    position: relative;

    &:focus-within {
      border-color: hsla(0, 0%, 100%, 0.2);
    }

    & span {
      outline: none;
      min-width: 2ch;
    }
  }

  .cursors {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 40px;

    .cursor {
      border-radius: 100px;
      /* border-start-start-radius: 80px; */
      color: color-mix(in srgb, #fff, var(--color) 20%);
      border: 1px solid color-mix(in srgb, var(--color), transparent 30%);
      background-color: color-mix(in srgb, var(--color), transparent 30%);
      box-shadow: 0 0 10px color-mix(in srgb, var(--color), transparent 60%);
      line-height: 1;
      backdrop-filter: blur(10px);
      font-size: 10px;
      padding: 8px 12px;
      max-inline-size: max-content;
      margin-bottom: 10px;
      position: absolute;
      top: var(--top, -100);
      left: var(--left, -100);
      transition: all 0.4s;

      &::before {
        content: "";
        display: flex;
        width: 13px;
        height: 12px;
        position: absolute;
        top: -4px;
        left: -12px;
        transform: rotate(-14deg);
        background-color: color-mix(in srgb, var(--color), transparent 20%);
        box-shadow: 0 0 6px color-mix(in srgb, var(--color), transparent 10%);
        box-sizing: border-box;
        border: 1px solid color-mix(in srgb, var(--color), transparent 30%);
        clip-path: path(
          "M0.999829 2.50001C0.319053 0.85434 1.35433 -0.180776 3 0.5L11.098 3.54269C12.4155 4.0877 12.7559 5.79685 11.7477 6.80501C10.7395 7.81317 9.50626 7.33935 8.5 8.5C7.61349 9.52253 8.19281 10.3599 7.18465 11.3681C6.17648 12.3762 4.46733 12.0358 3.92232 10.7184L0.999829 2.50001Z"
        );
      }
    }
  }
}

.create {
  display: flex;
  padding: 8px;
  padding-inline-start: 16px;
  border-radius: 8px;
  font-family: inherit;
  border: 1px solid hsla(260, 100%, 100%, 0.1);
  gap: 14px;
  align-items: center;
  background-color: hsla(260, 100%, 100%, 0.04);
  max-width: max-content;

  code {
    display: flex;
    font-family: inherit;
    font-size: small;
    opacity: 0.5;
    font-size: 12px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(260, 100%, 100%, 0.04);
    border-radius: 4px;
    padding: 8px 10px;
    border: 1px solid hsla(260, 100%, 100%, 0.04);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;

    &:active {
      transform: scale(0.8);
    }

    &.copied {
      background-color: hsla(98, 100%, 77%, 0.1);
      color: hsla(155, 100%, 50%, 1);
    }
  }
}
