@layer core {
  @layer blocks {
    aside.nav {
      --border-color: var(--gds-sys-color-stroke-stroke-variant2);
      display: flex;
      position: fixed;
      height: 100%;
      z-index: 4;
      background: var(--gds-sys-color-background-background);
      flex-direction: column;
      top: var(--header-height);
      gap: 12px;
      padding: 24px;
      border-right: 1px solid var(--border-color);
      width: 320px;
      min-width: 320px;

      @media screen and (min-width: 62rem) {
        position: sticky;
        max-height: calc(100vh - var(--header-height));
        block-size: 100vh;
      }

      details {
        &[open] {
          summary {
            svg {
              transform: scaleY(-1);
            }
          }
        }

        summary {
          list-style: none;
          appearance: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          cursor: pointer;
          transition: var(--transition);

          &::-webkit-details-marker {
            display: none !important;
          }

          &:hover {
            span {
              background-color: var(--gds-sys-color-state-layers-state-black);
            }
          }

          a {
            width: 100%;
            flex: 1;
            transition: var(--transition);
            text-underline-offset: 6px;

            &:hover {
              text-decoration: underline solid 1px;
            }
          }

          span {
            display: flex;
            min-width: 42px;
            height: 42px;
            align-items: center;
            justify-content: center;
            border-radius: 200px;
            transition: var(--transition);

            &:hover {
              background-color: var(--gds-sys-color-state-layers-state-black);
            }
          }

          svg {
            width: 24px;
            height: 24px;
            fill: none;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }

        nav {
          padding-inline-start: 1rem;
          padding-block-start: 4px;
        }
      }

      details a,
      .pill {
        width: 100%;
        padding: 12px 16px;
        transition: var(--transition);
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover,
        /* &.active:not(summary > a) > { */
        &.active {
          text-decoration: underline solid 1px;
        }

        svg,
        path {
          fill: var(--gds-sys-color-content-content);
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;

        a {
          width: 100%;
          padding: 12px 16px;
          transition: var(--transition);
          color: var(--gds-sys-color-content-content);
          text-underline-offset: 6px;

          &:hover,
          &.active {
            text-decoration: underline solid 1px;
          }
        }
      }
    }
  }
}
