@use 'mixins';
@use '../../tokens';
@use '../../common/functions';
@use '../../common';
@use 'sass:map';

input:not([type]),
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  @include mixins.text-input();
}

.form-text {
  @include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  display: inline-flex;
  font: inherit;
}

