@use 'mixins';
@use '../button';

input:not([type]),
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='file'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  @include mixins.text-input();
}
