@use 'mixins';
@use '../../tokens';
@use '../../common/functions';
@use '../../common';
@use 'sass:map';
@use 'checkbox';
@use 'validation';

input:not([type]),
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  @include mixins.text-input();
}

form:not(.horizontal) >,
.form:not(.horizontal) > {
  * {
    //display: flex !important;
    //@include common.margin-bottom(4);
  }

  .form-control,
  .form-text {
    @include common.padding-vertical(0);
  }
}

.horizontal > {
  *:not(label:not(.form-control)) {
    @include common.margin-end(4);
    display: inline-flex !important;
  }
}

.form-text {
  //@include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  display: flex;
  font: inherit;
}

// field
.form-field {
  @include common.margin-bottom(6);
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.form-field > input {
  @include common.margin-bottom(3);
}

// label
.form-field label:not(.form-control) {
  @include common.font-weight('medium');
  @include common.margin-bottom(3, true);
  display: block !important;
}
