@use 'mixins';
@use '../../tokens';
@use '../../common/functions';
@use '../../common';
@use 'sass:map';
@use 'checkbox';

input:not([type]),
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  @include mixins.text-input();
}

form:not(.horizontal) >,
.form:not(.horizontal) > {
  * {
    //display: flex !important;
    margin-bottom: 1rem;
  }

  .form-control,
  .form-text {
    @include common.padding-vertical(0);
  }
}

.horizontal > {
  * {
    @include common.margin-end(4);
    display: inline-flex !important;
  }
}

.form-text {
  //@include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  display: flex;
  font: inherit;
}

