@use '../../common';

@mixin text-input {
  @include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  @include common.add-border-radius();
  @include common.add-border();
  @include common.add-border-color();
  @include common.add-focus();
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 0;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}
