@use '../../tokens';
@use '../../common';

$selector-tab: '[role=tab]';
$selector-tab--selected: $selector-tab + '[aria-selected=true]';
$selector-tab-panel: '[role=tabpanel]';
$selector-tab-panel--selected: $selector-tab-panel + '[aria-hidden=false]';
$selector-tabs-bar: '[role=tablist]';

@mixin tab {
  @include common.add-border($sides: 'bottom');
  @include common.add-border-color;
  @include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  @include common.font-weight('medium');
  @include common.min-width(10);

  color: map-get(tokens.$theme-colors, 'primary');
  text-decoration: none;
  text-align: center;

  @include common.add-hover-state;
  @include common.add-focus;
}

@mixin tab--selected {
  @include common.add-border(
    $sides: (
      'top',
      'right',
      'left',
    )
  );
  @include common.add-border-color;

  border-bottom: tokens.$border-width transparent;
  color: map-get(tokens.$grey, 1);

  @include common.add-hover-state;
}

@mixin tabs-bar {
  display: flex;

  &::after {
    @include common.add-border(
      $sides: (
        'bottom',
      )
    );
    @include common.add-border-color;
    content: '';
    display: block;
    flex-grow: 1;
  }
}

@mixin tabs-panel {
  display: none;
}

@mixin tabs-panel--selected {
  display: block;
}
