.cmd {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  place-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden scroll;
  z-index: 10000;
  overscroll-behavior: contain;
  background-color: color-mix(in srgb, #000, transparent 10%);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  pointer-events: none;
  /* --mix: color-mix(in srgb, #fff, transparent 96%); */
  letter-spacing: 0.04ch;

  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    main {
      transform: scale(1);
    }
  }

  main {
    width: 640px;
    background-color: hsla(220, 10%, 6%, 1);
    border: 1px solid hsla(220, 10%, 8%, 1);
    border-radius: 8px;
    min-height: 440px;
    max-height: 440px;
    display: flex;
    flex-direction: column;
    z-index: 7;
    overflow: hidden;
    transform-origin: center;
    transform: scale(0.98);
    transition: var(--transition);

    form {
      display: flex;
      width: 100%;
      align-items: center;
      background-color: hsla(220, 10%, 7%, 1);
      border-bottom: 1px solid hsla(220, 10%, 10%, 1);
      position: relative;
      overflow: hidden;
      min-height: 70px;

      svg {
        width: 18px;
        height: 18px;
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      label,
      button {
        position: absolute;
      }

      label {
        left: 24px;
      }

      button {
        right: 24px;
      }

      input {
        appearance: none;
        border: none;
        display: flex;
        width: 100%;
        padding: 24px 58px;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        color: #fff;
        &::placeholder {
          color: color-mix(in srgb, white, transparent 60%);
        }
      }

      input:placeholder-shown ~ button {
        opacity: 0;
        transform: scale(0.8);
      }

      button {
        border: 1px solid hsla(220, 10%, 11%, 1);
        background-color: hsla(220, 10%, 11%, 1);
        padding: 8px;
        margin: 0;
        border-radius: 4px;
        aspect-ratio: 1/1;
        border-radius: 100px;
        transition: all 0.4s;
        appearance: none;
        -webkit-appearance: none;
        box-sizing: border-box;
        line-height: 0;
        cursor: pointer;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    section {
      flex: 1;
      overflow-y: auto;
      padding: 24px 14px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      overscroll-behavior: contain;

      & > div {
        display: flex;
        flex-direction: column;
      }

      .category {
        font-size: 12px;
        padding-inline: 12px;
        color: color-mix(in srgb, #fff, transparent 60%);
        letter-spacing: 0.01ch;
        font-weight: 400;
        pointer-events: none;
      }

      & .list {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-block: 10px;

        img {
          border-radius: 100px;
        }

        & a {
          color: hsl(240 5% 64.9%);
          border-radius: 8px;
          padding: 8px 12px;
          transition: all 0.2s;
          display: flex;
          align-items: center;
          justify-content: space-between;
          outline: none;

          .cmdk-item-name {
            display: flex;
            align-items: center;
          }

          .cmdk-item-char {
            content: attr(data-char);
            display: flex;
            width: 24px;
            height: 24px;
            background-color: rgba(240, 248, 255, 0.051);
            border-radius: 4px;
            font-size: 10px;
            font-weight: 700;
            place-content: center;
            align-items: center;
            margin-right: 8px;
          }

          .cmdk-item-img {
            border-radius: 100px;
            margin-right: 8px;
            width: 20px;
            height: auto;
          }

          &:hover .cmdk-options {
            opacity: 1;
          }

          .cmdk-options {
            display: flex;
            gap: 8px;
            opacity: 0;
            transition: all 0.4s;

            svg {
              width: 12px;
              height: 12px;
              fill: none;
              stroke: #fff;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
          }

          & mark {
            background-color: hsla(360, 100%, 100%, 0);
            color: #fff;
            text-decoration: underline;
          }

          &:hover,
          &:focus,
          &.focused {
            color: hsla(360, 100%, 100%, 1);
            border-color: #fff;
            background-color: hsla(360, 100%, 100%, 0.04);
          }
        }
      }

      .doc-nav-collapse {
        font-size: 14px;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & div {
          display: flex;
          aspect-ratio: 1/1;
          align-items: center;
          width: 24px;
          height: 24px;
          /* background: hsla(360, 100%, 100%, 0.1); */
          border-radius: 100px;
          color: hsla(360, 100%, 100%, 1);
          font-size: 18px;
          justify-content: center;
          line-height: 1;

          & svg {
            width: 18px;
            height: 18px;
            stroke: #fff;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
      }
    }

    footer {
      border-top: 1px solid hsla(220, 10%, 10%, 1);
      padding: 12px 24px;
      background-color: hsla(220, 10%, 6%, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: color-mix(in srgb, white, transparent 60%);

      .cmd-options {
        display: flex;
        align-items: center;
        gap: 24px;
        font-size: 12px;

        div {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        kbd {
          border-radius: 4px;
          background-color: hsla(220, 10%, 10%, 1);
          display: flex;
          flex: 1;
          width: 24px;
          height: 24px;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          color: #fff;
        }

        svg {
          fill: none;
          stroke: #fff;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

/* .cmd-backdrop {
  display: none;
  background-color: hsla(360, 0%, 0%, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 6;
  cursor: pointer;
  appearance: none;
  border: none;
} */
