/*!
 *  SEB fonts
 */
@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-LightItalic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-Italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-MediumItalic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: SEBSansSerif;
  src: url(./fonts/SEBSansSerif-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}
