@use "../../tokens/typography" as tokens;

@mixin properties($map) {
  @each $name, $value in $map {
    #{$name}: $value;
  }
}

@mixin header-margin() {
}

@mixin reset(
  $base-font-size: tokens.$base-font-size,
  $body-font-family: tokens.font-family('sans')
) {
  html {
    font-size: $base-font-size;
  }

  body {
    font-weight: tokens.font-weight('regular');

    font-family: $body-font-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  strong {
    font-weight: tokens.font-weight('semibold');
  }
}
