@use '../../scss-tokens';
@mixin add-focus() {
  transition: box-shadow 0.25s;

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    box-shadow: 0 0 0.25em 0.0625em map-get(scss-tokens.$blue, 2);
    border-color: map-get(scss-tokens.$blue, 0);
    outline-style: solid;
    outline-color: transparent;
  }
}
