@use '../../tokens';
@mixin add-focus() {
  transition: box-shadow 0.25s;

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    border-color: map-get(tokens.$blue, 0);
    box-shadow: 0 0 0.25em 0.0625em map-get(tokens.$blue, 2);
    outline-color: transparent;
    outline-style: solid;
  }
}

@mixin add-hover-state($color: map-get(tokens.$blue, 2)) {
  transition: color 0.25s; // TODO: append transition rule...

  &:hover {
    background: $color;
  }
}

@mixin add-active-state($color: map-get(tokens.$blue, 0)) {
  &:active,
  &.active,
  &.active:hover,
  &:active:hover {
    background: $color;
  }
}

@mixin add-hover-active-state() {
  @include add-hover-state();
  @include add-active-state();
}
