figure.pattern-preview {
  --color: hsla(60, 6%, 10%, 1);
  --cell-lg: 56px;
  --cell-lg-cl: color-mix(in srgb, var(--color), transparent 99%);
  --cell-sm: 8px;
  --cell-sm-cl: color-mix(in srgb, var(--color), transparent 99%);
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsl(0 0% 100%);
  background-image: linear-gradient(to right, transparent calc(var(--cell-lg) - 1px), var(--cell-lg-cl) 1px),
    linear-gradient(to bottom, transparent calc(var(--cell-lg) - 1px), var(--cell-lg-cl) 1px),
    linear-gradient(to right, transparent calc(var(--cell-sm) - 1px), var(--cell-sm-cl) 1px),
    linear-gradient(to bottom, transparent calc(var(--cell-sm) - 1px), var(--cell-sm-cl) 1px);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size:
    var(--cell-lg) 100%,
    100% var(--cell-lg),
    var(--cell-sm) 100%,
    100% var(--cell-sm);
  background-position: center; 
 
}
