.alert {
  background-color: hsla(222, 100%, 96%, 1);
  color: hsla(207, 100%, 34%, 1);
  padding: 16px 24px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.1px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  span {
    margin-inline: auto;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      fill: currentColor;
    }
  }
}
