/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
.row {
  --sg-gutter-x: 1rem;
  --sg-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc( var(--sg-gutter-x) * -0.5 );
  margin-right: calc( var(--sg-gutter-x) * -0.5 );
  margin-top: calc( var(--sg-gutter-y) * -1 );
}
.row > * {
  flex-shrink: 0;
  margin-top: var(--sg-gutter-y);
  max-width: 100%;
  padding-left: calc( var(--sg-gutter-x) * 0.5 );
  padding-right: calc( var(--sg-gutter-x) * 0.5 );
  width: 100%;
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --sg-gutter-x: 0;
}

.g-0,
.gy-0 {
  --sg-gutter-y: 0;
}

.g-1,
.gx-1 {
  --sg-gutter-x: 0.125rem;
}

.g-1,
.gy-1 {
  --sg-gutter-y: 0.125rem;
}

.g-2,
.gx-2 {
  --sg-gutter-x: 0.25rem;
}

.g-2,
.gy-2 {
  --sg-gutter-y: 0.25rem;
}

.g-3,
.gx-3 {
  --sg-gutter-x: 0.5rem;
}

.g-3,
.gy-3 {
  --sg-gutter-y: 0.5rem;
}

.g-4,
.gx-4 {
  --sg-gutter-x: 0.75rem;
}

.g-4,
.gy-4 {
  --sg-gutter-y: 0.75rem;
}

.g-5,
.gx-5 {
  --sg-gutter-x: 1rem;
}

.g-5,
.gy-5 {
  --sg-gutter-y: 1rem;
}

.g-6,
.gx-6 {
  --sg-gutter-x: 1.5rem;
}

.g-6,
.gy-6 {
  --sg-gutter-y: 1.5rem;
}

.g-7,
.gx-7 {
  --sg-gutter-x: 2rem;
}

.g-7,
.gy-7 {
  --sg-gutter-y: 2rem;
}

.g-8,
.gx-8 {
  --sg-gutter-x: 4rem;
}

.g-8,
.gy-8 {
  --sg-gutter-y: 4rem;
}

.g-9,
.gx-9 {
  --sg-gutter-x: 6rem;
}

.g-9,
.gy-9 {
  --sg-gutter-y: 6rem;
}

.g-10,
.gx-10 {
  --sg-gutter-x: 8rem;
}

.g-10,
.gy-10 {
  --sg-gutter-y: 8rem;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }

  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }

  .g-sm-0,
.gx-sm-0 {
    --sg-gutter-x: 0;
  }

  .g-sm-0,
.gy-sm-0 {
    --sg-gutter-y: 0;
  }

  .g-sm-1,
.gx-sm-1 {
    --sg-gutter-x: 0.125rem;
  }

  .g-sm-1,
.gy-sm-1 {
    --sg-gutter-y: 0.125rem;
  }

  .g-sm-2,
.gx-sm-2 {
    --sg-gutter-x: 0.25rem;
  }

  .g-sm-2,
.gy-sm-2 {
    --sg-gutter-y: 0.25rem;
  }

  .g-sm-3,
.gx-sm-3 {
    --sg-gutter-x: 0.5rem;
  }

  .g-sm-3,
.gy-sm-3 {
    --sg-gutter-y: 0.5rem;
  }

  .g-sm-4,
.gx-sm-4 {
    --sg-gutter-x: 0.75rem;
  }

  .g-sm-4,
.gy-sm-4 {
    --sg-gutter-y: 0.75rem;
  }

  .g-sm-5,
.gx-sm-5 {
    --sg-gutter-x: 1rem;
  }

  .g-sm-5,
.gy-sm-5 {
    --sg-gutter-y: 1rem;
  }

  .g-sm-6,
.gx-sm-6 {
    --sg-gutter-x: 1.5rem;
  }

  .g-sm-6,
.gy-sm-6 {
    --sg-gutter-y: 1.5rem;
  }

  .g-sm-7,
.gx-sm-7 {
    --sg-gutter-x: 2rem;
  }

  .g-sm-7,
.gy-sm-7 {
    --sg-gutter-y: 2rem;
  }

  .g-sm-8,
.gx-sm-8 {
    --sg-gutter-x: 4rem;
  }

  .g-sm-8,
.gy-sm-8 {
    --sg-gutter-y: 4rem;
  }

  .g-sm-9,
.gx-sm-9 {
    --sg-gutter-x: 6rem;
  }

  .g-sm-9,
.gy-sm-9 {
    --sg-gutter-y: 6rem;
  }

  .g-sm-10,
.gx-sm-10 {
    --sg-gutter-x: 8rem;
  }

  .g-sm-10,
.gy-sm-10 {
    --sg-gutter-y: 8rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }

  .g-md-0,
.gx-md-0 {
    --sg-gutter-x: 0;
  }

  .g-md-0,
.gy-md-0 {
    --sg-gutter-y: 0;
  }

  .g-md-1,
.gx-md-1 {
    --sg-gutter-x: 0.125rem;
  }

  .g-md-1,
.gy-md-1 {
    --sg-gutter-y: 0.125rem;
  }

  .g-md-2,
.gx-md-2 {
    --sg-gutter-x: 0.25rem;
  }

  .g-md-2,
.gy-md-2 {
    --sg-gutter-y: 0.25rem;
  }

  .g-md-3,
.gx-md-3 {
    --sg-gutter-x: 0.5rem;
  }

  .g-md-3,
.gy-md-3 {
    --sg-gutter-y: 0.5rem;
  }

  .g-md-4,
.gx-md-4 {
    --sg-gutter-x: 0.75rem;
  }

  .g-md-4,
.gy-md-4 {
    --sg-gutter-y: 0.75rem;
  }

  .g-md-5,
.gx-md-5 {
    --sg-gutter-x: 1rem;
  }

  .g-md-5,
.gy-md-5 {
    --sg-gutter-y: 1rem;
  }

  .g-md-6,
.gx-md-6 {
    --sg-gutter-x: 1.5rem;
  }

  .g-md-6,
.gy-md-6 {
    --sg-gutter-y: 1.5rem;
  }

  .g-md-7,
.gx-md-7 {
    --sg-gutter-x: 2rem;
  }

  .g-md-7,
.gy-md-7 {
    --sg-gutter-y: 2rem;
  }

  .g-md-8,
.gx-md-8 {
    --sg-gutter-x: 4rem;
  }

  .g-md-8,
.gy-md-8 {
    --sg-gutter-y: 4rem;
  }

  .g-md-9,
.gx-md-9 {
    --sg-gutter-x: 6rem;
  }

  .g-md-9,
.gy-md-9 {
    --sg-gutter-y: 6rem;
  }

  .g-md-10,
.gx-md-10 {
    --sg-gutter-x: 8rem;
  }

  .g-md-10,
.gy-md-10 {
    --sg-gutter-y: 8rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }

  .g-lg-0,
.gx-lg-0 {
    --sg-gutter-x: 0;
  }

  .g-lg-0,
.gy-lg-0 {
    --sg-gutter-y: 0;
  }

  .g-lg-1,
.gx-lg-1 {
    --sg-gutter-x: 0.125rem;
  }

  .g-lg-1,
.gy-lg-1 {
    --sg-gutter-y: 0.125rem;
  }

  .g-lg-2,
.gx-lg-2 {
    --sg-gutter-x: 0.25rem;
  }

  .g-lg-2,
.gy-lg-2 {
    --sg-gutter-y: 0.25rem;
  }

  .g-lg-3,
.gx-lg-3 {
    --sg-gutter-x: 0.5rem;
  }

  .g-lg-3,
.gy-lg-3 {
    --sg-gutter-y: 0.5rem;
  }

  .g-lg-4,
.gx-lg-4 {
    --sg-gutter-x: 0.75rem;
  }

  .g-lg-4,
.gy-lg-4 {
    --sg-gutter-y: 0.75rem;
  }

  .g-lg-5,
.gx-lg-5 {
    --sg-gutter-x: 1rem;
  }

  .g-lg-5,
.gy-lg-5 {
    --sg-gutter-y: 1rem;
  }

  .g-lg-6,
.gx-lg-6 {
    --sg-gutter-x: 1.5rem;
  }

  .g-lg-6,
.gy-lg-6 {
    --sg-gutter-y: 1.5rem;
  }

  .g-lg-7,
.gx-lg-7 {
    --sg-gutter-x: 2rem;
  }

  .g-lg-7,
.gy-lg-7 {
    --sg-gutter-y: 2rem;
  }

  .g-lg-8,
.gx-lg-8 {
    --sg-gutter-x: 4rem;
  }

  .g-lg-8,
.gy-lg-8 {
    --sg-gutter-y: 4rem;
  }

  .g-lg-9,
.gx-lg-9 {
    --sg-gutter-x: 6rem;
  }

  .g-lg-9,
.gy-lg-9 {
    --sg-gutter-y: 6rem;
  }

  .g-lg-10,
.gx-lg-10 {
    --sg-gutter-x: 8rem;
  }

  .g-lg-10,
.gy-lg-10 {
    --sg-gutter-y: 8rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xl-0,
.gx-xl-0 {
    --sg-gutter-x: 0;
  }

  .g-xl-0,
.gy-xl-0 {
    --sg-gutter-y: 0;
  }

  .g-xl-1,
.gx-xl-1 {
    --sg-gutter-x: 0.125rem;
  }

  .g-xl-1,
.gy-xl-1 {
    --sg-gutter-y: 0.125rem;
  }

  .g-xl-2,
.gx-xl-2 {
    --sg-gutter-x: 0.25rem;
  }

  .g-xl-2,
.gy-xl-2 {
    --sg-gutter-y: 0.25rem;
  }

  .g-xl-3,
.gx-xl-3 {
    --sg-gutter-x: 0.5rem;
  }

  .g-xl-3,
.gy-xl-3 {
    --sg-gutter-y: 0.5rem;
  }

  .g-xl-4,
.gx-xl-4 {
    --sg-gutter-x: 0.75rem;
  }

  .g-xl-4,
.gy-xl-4 {
    --sg-gutter-y: 0.75rem;
  }

  .g-xl-5,
.gx-xl-5 {
    --sg-gutter-x: 1rem;
  }

  .g-xl-5,
.gy-xl-5 {
    --sg-gutter-y: 1rem;
  }

  .g-xl-6,
.gx-xl-6 {
    --sg-gutter-x: 1.5rem;
  }

  .g-xl-6,
.gy-xl-6 {
    --sg-gutter-y: 1.5rem;
  }

  .g-xl-7,
.gx-xl-7 {
    --sg-gutter-x: 2rem;
  }

  .g-xl-7,
.gy-xl-7 {
    --sg-gutter-y: 2rem;
  }

  .g-xl-8,
.gx-xl-8 {
    --sg-gutter-x: 4rem;
  }

  .g-xl-8,
.gy-xl-8 {
    --sg-gutter-y: 4rem;
  }

  .g-xl-9,
.gx-xl-9 {
    --sg-gutter-x: 6rem;
  }

  .g-xl-9,
.gy-xl-9 {
    --sg-gutter-y: 6rem;
  }

  .g-xl-10,
.gx-xl-10 {
    --sg-gutter-x: 8rem;
  }

  .g-xl-10,
.gy-xl-10 {
    --sg-gutter-y: 8rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }

  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }

  .g-xxl-0,
.gx-xxl-0 {
    --sg-gutter-x: 0;
  }

  .g-xxl-0,
.gy-xxl-0 {
    --sg-gutter-y: 0;
  }

  .g-xxl-1,
.gx-xxl-1 {
    --sg-gutter-x: 0.125rem;
  }

  .g-xxl-1,
.gy-xxl-1 {
    --sg-gutter-y: 0.125rem;
  }

  .g-xxl-2,
.gx-xxl-2 {
    --sg-gutter-x: 0.25rem;
  }

  .g-xxl-2,
.gy-xxl-2 {
    --sg-gutter-y: 0.25rem;
  }

  .g-xxl-3,
.gx-xxl-3 {
    --sg-gutter-x: 0.5rem;
  }

  .g-xxl-3,
.gy-xxl-3 {
    --sg-gutter-y: 0.5rem;
  }

  .g-xxl-4,
.gx-xxl-4 {
    --sg-gutter-x: 0.75rem;
  }

  .g-xxl-4,
.gy-xxl-4 {
    --sg-gutter-y: 0.75rem;
  }

  .g-xxl-5,
.gx-xxl-5 {
    --sg-gutter-x: 1rem;
  }

  .g-xxl-5,
.gy-xxl-5 {
    --sg-gutter-y: 1rem;
  }

  .g-xxl-6,
.gx-xxl-6 {
    --sg-gutter-x: 1.5rem;
  }

  .g-xxl-6,
.gy-xxl-6 {
    --sg-gutter-y: 1.5rem;
  }

  .g-xxl-7,
.gx-xxl-7 {
    --sg-gutter-x: 2rem;
  }

  .g-xxl-7,
.gy-xxl-7 {
    --sg-gutter-y: 2rem;
  }

  .g-xxl-8,
.gx-xxl-8 {
    --sg-gutter-x: 4rem;
  }

  .g-xxl-8,
.gy-xxl-8 {
    --sg-gutter-y: 4rem;
  }

  .g-xxl-9,
.gx-xxl-9 {
    --sg-gutter-x: 6rem;
  }

  .g-xxl-9,
.gy-xxl-9 {
    --sg-gutter-y: 6rem;
  }

  .g-xxl-10,
.gx-xxl-10 {
    --sg-gutter-x: 8rem;
  }

  .g-xxl-10,
.gy-xxl-10 {
    --sg-gutter-y: 8rem;
  }
}
button,
button,
input[type=button],
input[type=submit],
input[type=reset],
a.button {
  border: none;
  background-color: transparent;
  color: #007ac7;
  border-color: #007ac7;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 4px;
  border: solid 1px;
  font-weight: 500;
  transition: box-shadow 0.25s ease-out;
  transition: all 0.25s ease-out;
}
button:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input[type=button]:focus:not(:focus-visible),
input[type=submit]:focus:not(:focus-visible),
input[type=reset]:focus:not(:focus-visible),
a.button:focus:not(:focus-visible) {
  outline: 0;
}
button:focus-visible,
button:focus-visible,
input[type=button]:focus-visible,
input[type=submit]:focus-visible,
input[type=reset]:focus-visible,
a.button:focus-visible {
  border-color: #007ac7;
  box-shadow: 0 0 0.25em 0.0625em #41b0ee;
  outline-color: transparent;
  outline-style: solid;
}
button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
a.button:hover {
  background: #41b0ee;
  color: white;
}
button:active, button.active, button.active:hover, button:active:hover,
button:active,
button.active,
button.active:hover,
button:active:hover,
input[type=button]:active,
input[type=button].active,
input[type=button].active:hover,
input[type=button]:active:hover,
input[type=submit]:active,
input[type=submit].active,
input[type=submit].active:hover,
input[type=submit]:active:hover,
input[type=reset]:active,
input[type=reset].active,
input[type=reset].active:hover,
input[type=reset]:active:hover,
a.button:active,
a.button.active,
a.button.active:hover,
a.button:active:hover {
  background: #007ac7;
}
@media screen and (-ms-high-contrast: active) {
  button,
button,
input[type=button],
input[type=submit],
input[type=reset],
a.button {
    border: 2px solid currentcolor;
  }
}

button.primary,
button[type=submit],
input[type=submit],
a.button.primary {
  background: #007ac7;
  color: white;
  transition: all 0.25s ease-out;
}
button.primary:hover,
button[type=submit]:hover,
input[type=submit]:hover,
a.button.primary:hover {
  background: #41b0ee;
  color: white;
}
button.primary:active, button.primary.active, button.primary.active:hover, button.primary:active:hover,
button[type=submit]:active,
button[type=submit].active,
button[type=submit].active:hover,
button[type=submit]:active:hover,
input[type=submit]:active,
input[type=submit].active,
input[type=submit].active:hover,
input[type=submit]:active:hover,
a.button.primary:active,
a.button.primary.active,
a.button.primary.active:hover,
a.button.primary:active:hover {
  background: #007ac7;
}

button.ghost {
  background-color: transparent;
  color: #333333;
  border-color: #333333;
  transition: all 0.25s ease-out;
}
button.ghost:hover {
  background: #333333;
  color: white;
}
button.ghost:active, button.ghost.active, button.ghost.active:hover, button.ghost:active:hover {
  background: #333333;
}

input:not([type]),
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 4px;
  border: solid 1px;
  transition: box-shadow 0.25s ease-out;
}
input:not([type]):focus:not(:focus-visible),
input[type=date]:focus:not(:focus-visible),
input[type=datetime]:focus:not(:focus-visible),
input[type=datetime-local]:focus:not(:focus-visible),
input[type=email]:focus:not(:focus-visible),
input[type=month]:focus:not(:focus-visible),
input[type=number]:focus:not(:focus-visible),
input[type=password]:focus:not(:focus-visible),
input[type=search]:focus:not(:focus-visible),
input[type=tel]:focus:not(:focus-visible),
input[type=text]:focus:not(:focus-visible),
input[type=time]:focus:not(:focus-visible),
input[type=url]:focus:not(:focus-visible),
input[type=week]:focus:not(:focus-visible) {
  outline: 0;
}
input:not([type]):focus-visible,
input[type=date]:focus-visible,
input[type=datetime]:focus-visible,
input[type=datetime-local]:focus-visible,
input[type=email]:focus-visible,
input[type=month]:focus-visible,
input[type=number]:focus-visible,
input[type=password]:focus-visible,
input[type=search]:focus-visible,
input[type=tel]:focus-visible,
input[type=text]:focus-visible,
input[type=time]:focus-visible,
input[type=url]:focus-visible,
input[type=week]:focus-visible {
  border-color: #007ac7;
  box-shadow: 0 0 0.25em 0.0625em #41b0ee;
  outline-color: transparent;
  outline-style: solid;
}
@media screen and (-ms-high-contrast: active) {
  input:not([type]),
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    border: 2px solid currentcolor;
  }
}

/*
  input[type='button']
  input[type='submit']
  input[type='reset']

  ../button/_index.scss
*/
a {
  color: #007ac7;
}

a.button {
  text-decoration: none;
}

/*
  a.button

  ../button/_index.scss
*/
[role=tab] {
  border-bottom: solid 1px;
  border-color: #adadad;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  font-weight: 500;
  min-width: 8rem;
  color: #007ac7;
  text-decoration: none;
  text-align: center;
  transition: all 0.25s ease-out;
  transition: box-shadow 0.25s ease-out;
}
[role=tab]:hover {
  background: #41b0ee;
  color: white;
}
[role=tab]:focus:not(:focus-visible) {
  outline: 0;
}
[role=tab]:focus-visible {
  border-color: #007ac7;
  box-shadow: 0 0 0.25em 0.0625em #41b0ee;
  outline-color: transparent;
  outline-style: solid;
}

[role=tab][aria-selected=true] {
  border-top: solid 1px;
  border-right: solid 1px;
  border-left: solid 1px;
  border-color: #adadad;
  border-bottom: 1px transparent;
  color: #333333;
  transition: all 0.25s ease-out;
}
[role=tab][aria-selected=true]:hover {
  background: #41b0ee;
  color: white;
}

[role=tablist] {
  display: flex;
}
[role=tablist]::after {
  border-bottom: solid 1px;
  border-color: #adadad;
  content: "";
  display: block;
  flex-grow: 1;
}

[role=tabpanel] {
  display: none;
}

[role=tabpanel][aria-hidden=false] {
  display: block;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.ps-0 {
  padding-left: 0;
}

.pe-0 {
  padding-right: 0;
}

.pt-0 {
  padding-right: 0;
}

.pb-0 {
  padding-left: 0;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.ms-0 {
  margin-left: 0;
}

.me-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.p-1 {
  padding: 0.125rem;
}

.px-1 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.py-1 {
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
}

.ps-1 {
  padding-left: 0.125rem;
}

.pe-1 {
  padding-right: 0.125rem;
}

.pt-1 {
  padding-right: 0.125rem;
}

.pb-1 {
  padding-left: 0.125rem;
}

.m-1 {
  margin: 0.125rem;
}

.mx-1 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.my-1 {
  margin-bottom: 0.125rem;
  margin-top: 0.125rem;
}

.ms-1 {
  margin-left: 0.125rem;
}

.me-1 {
  margin-right: 0.125rem;
}

.mt-1 {
  margin-top: 0.125rem;
}

.mb-1 {
  margin-bottom: 0.125rem;
}

.p-2 {
  padding: 0.25rem;
}

.px-2 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-2 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.ps-2 {
  padding-left: 0.25rem;
}

.pe-2 {
  padding-right: 0.25rem;
}

.pt-2 {
  padding-right: 0.25rem;
}

.pb-2 {
  padding-left: 0.25rem;
}

.m-2 {
  margin: 0.25rem;
}

.mx-2 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-2 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.ms-2 {
  margin-left: 0.25rem;
}

.me-2 {
  margin-right: 0.25rem;
}

.mt-2 {
  margin-top: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.25rem;
}

.p-3 {
  padding: 0.5rem;
}

.px-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.ps-3 {
  padding-left: 0.5rem;
}

.pe-3 {
  padding-right: 0.5rem;
}

.pt-3 {
  padding-right: 0.5rem;
}

.pb-3 {
  padding-left: 0.5rem;
}

.m-3 {
  margin: 0.5rem;
}

.mx-3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-3 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ms-3 {
  margin-left: 0.5rem;
}

.me-3 {
  margin-right: 0.5rem;
}

.mt-3 {
  margin-top: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.5rem;
}

.p-4 {
  padding: 0.75rem;
}

.px-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-4 {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.ps-4 {
  padding-left: 0.75rem;
}

.pe-4 {
  padding-right: 0.75rem;
}

.pt-4 {
  padding-right: 0.75rem;
}

.pb-4 {
  padding-left: 0.75rem;
}

.m-4 {
  margin: 0.75rem;
}

.mx-4 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-4 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.ms-4 {
  margin-left: 0.75rem;
}

.me-4 {
  margin-right: 0.75rem;
}

.mt-4 {
  margin-top: 0.75rem;
}

.mb-4 {
  margin-bottom: 0.75rem;
}

.p-5 {
  padding: 1rem;
}

.px-5 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.ps-5 {
  padding-left: 1rem;
}

.pe-5 {
  padding-right: 1rem;
}

.pt-5 {
  padding-right: 1rem;
}

.pb-5 {
  padding-left: 1rem;
}

.m-5 {
  margin: 1rem;
}

.mx-5 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-5 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ms-5 {
  margin-left: 1rem;
}

.me-5 {
  margin-right: 1rem;
}

.mt-5 {
  margin-top: 1rem;
}

.mb-5 {
  margin-bottom: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.ps-6 {
  padding-left: 1.5rem;
}

.pe-6 {
  padding-right: 1.5rem;
}

.pt-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-left: 1.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.ms-6 {
  margin-left: 1.5rem;
}

.me-6 {
  margin-right: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.p-7 {
  padding: 2rem;
}

.px-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-7 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.ps-7 {
  padding-left: 2rem;
}

.pe-7 {
  padding-right: 2rem;
}

.pt-7 {
  padding-right: 2rem;
}

.pb-7 {
  padding-left: 2rem;
}

.m-7 {
  margin: 2rem;
}

.mx-7 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-7 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ms-7 {
  margin-left: 2rem;
}

.me-7 {
  margin-right: 2rem;
}

.mt-7 {
  margin-top: 2rem;
}

.mb-7 {
  margin-bottom: 2rem;
}

.p-8 {
  padding: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.ps-8 {
  padding-left: 4rem;
}

.pe-8 {
  padding-right: 4rem;
}

.pt-8 {
  padding-right: 4rem;
}

.pb-8 {
  padding-left: 4rem;
}

.m-8 {
  margin: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.ms-8 {
  margin-left: 4rem;
}

.me-8 {
  margin-right: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.p-9 {
  padding: 6rem;
}

.px-9 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-9 {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.ps-9 {
  padding-left: 6rem;
}

.pe-9 {
  padding-right: 6rem;
}

.pt-9 {
  padding-right: 6rem;
}

.pb-9 {
  padding-left: 6rem;
}

.m-9 {
  margin: 6rem;
}

.mx-9 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-9 {
  margin-bottom: 6rem;
  margin-top: 6rem;
}

.ms-9 {
  margin-left: 6rem;
}

.me-9 {
  margin-right: 6rem;
}

.mt-9 {
  margin-top: 6rem;
}

.mb-9 {
  margin-bottom: 6rem;
}

.p-10 {
  padding: 8rem;
}

.px-10 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-10 {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.ps-10 {
  padding-left: 8rem;
}

.pe-10 {
  padding-right: 8rem;
}

.pt-10 {
  padding-right: 8rem;
}

.pb-10 {
  padding-left: 8rem;
}

.m-10 {
  margin: 8rem;
}

.mx-10 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-10 {
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.ms-10 {
  margin-left: 8rem;
}

.me-10 {
  margin-right: 8rem;
}

.mt-10 {
  margin-top: 8rem;
}

.mb-10 {
  margin-bottom: 8rem;
}

body html {
  font-size: 16px;
}
body body {
  font-weight: 400;
  font-family: 'SEBSansSerif',Arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.display-01 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

p.small {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.size-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
}

input.size-sm {
  height: 0.75rem;
}

.size-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* import specific class like this:
@use "classes/button"; // all buttons
@use "classes/button/primary"; // primary button
 */

/*# sourceMappingURL=green-chlorophyll.css.map */
