/**
 * Calculate the luminance for a color.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Calculate the contrast ratio between two colors.
 * See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
 */
/**
 * Determine whether to use dark or light text on top of given color.
 * Returns black for dark text and white for light text.
 */
/*
 Forward all mixins and variables so that they can be used by referencing a single file.
 Mixins and variables can be access using forward prefix like this <prefix>-<mixin/variable>.
 Ie. 'button-base' (mixin), badge-padding (variable).
*/
/*.btn,
.btn[type='button'] {
  @include button.base;
  @include button.primary;
}*/
.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 4px;
  border: solid 1px;
  font-weight: 500;
}
@media screen and (-ms-high-contrast: active) {
  .btn {
    border: 2px solid currentcolor;
  }
}

.btn-primary {
  background: #0092e1;
  color: black;
  /*&:hover,
  &:active {
    color: tokens.$theme-light-secondary-opposite2;
    background-color: tokens.$theme-light-secondary-color2;
    border-color: transparent;
  }*/
}
.btn-primary:focus:not(:focus-visible) {
  outline: 0;
}
.btn-primary:focus-visible {
  outline-style: solid;
  box-shadow: 0 0 0 4px #000099;
  outline-color: transparent;
}

button:not([class]), a {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 4px;
  border: solid 1px;
  font-weight: 500;
  background: #0092e1;
  color: black;
  /*&:hover,
  &:active {
    color: tokens.$theme-light-secondary-opposite2;
    background-color: tokens.$theme-light-secondary-color2;
    border-color: transparent;
  }*/
}
@media screen and (-ms-high-contrast: active) {
  button:not([class]), a {
    border: 2px solid currentcolor;
  }
}
button:not([class]):focus:not(:focus-visible), a:focus:not(:focus-visible) {
  outline: 0;
}
button:not([class]):focus-visible, a:focus-visible {
  outline-style: solid;
  box-shadow: 0 0 0 4px #000099;
  outline-color: transparent;
}

/*@use 'delete';
@use 'ghost';
@use 'link';
@use 'menu';
@use 'reset';
@use 'secondary';
@use 'submit';*/
/*@use "../../tokens";
@use "../button";

$selector: 'input:not([type])';
$selector-button: 'input[type=button]';
$selector-checkbox: 'input[type=checkbox]';
$selector-color: 'input[type=color]';
$selector-date: 'input[type=date]';
$selector-datetime: 'input[type=datetime]';
$selector-datetime-local: 'input[type=datetime-local]';
$selector-email: 'input[type=email]';
$selector-hidden: 'input[type=hidden]';
$selector-image: 'input[type=image]';
$selector-month: 'input[type=month]';
$selector-number: 'input[type=number]';
$selector-password: 'input[type=password]';
$selector-radio: 'input[type=radio]';
$selector-range: 'input[type=range]';
$selector-reset: 'input[type=reset]';
$selector-search: 'input[type=search]';
$selector-submit: 'input[type=submit]';
$selector-tel: 'input[type=tel]';
$selector-text: 'input[type=text]';
$selector-time: 'input[type=time]';
$selector-url: 'input[type=url]';
$selector-week: 'input[type=week]';

@mixin input-field {
  display: tokens.$shape-input-display;
  border: 1px solid tokens.$color-grey-400;
  border-radius: tokens.$shape-input-border-radius;
  color: tokens.$theme-light-background-opposite;
  padding: tokens.$shape-input-padding-v tokens.$shape-input-padding-h;
  min-height: 44px;
}

@mixin button {
  @include button.base;
  @include button.secondary;
}

@mixin reset {
  @include button.base;
  @include button.danger-opposite;
}

@mixin submit {
  @include button.base;
}
*/
.form-input {
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  border-radius: 4px;
  border: solid 1px;
}
@media screen and (-ms-high-contrast: active) {
  .form-input {
    border: 2px solid currentcolor;
  }
}

/*@use 'button';
@use 'checkbox';
@use 'color';
@use 'date';
@use 'datetime';
@use 'datetime-local';
@use 'email';
@use 'file';
@use 'hidden';
@use 'image';
@use 'month';
@use 'number';
@use 'password';
@use 'radio';
@use 'range';
@use 'reset';
@use 'search';
@use 'submit';
@use 'tel';
@use 'text';
@use 'time';
@use 'url';
@use 'week';
*/
body html {
  font-size: 16px;
}
body body {
  font-weight: 400;
  font-family: 'SEBSansSerif',Arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.display-01 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0;
}

h6 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

p.small {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

/*.ds-green {
  @import 'badge';
  @import 'button';
  @import 'input';
}*/
.size-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
}

.size-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.3;
}

/* import specific class like this:
@use "classes/button"; // all buttons
@use "classes/button/primary"; // primary button
 */

/*# sourceMappingURL=green-chlorophyll.css.map */
