.icon-slide-out {
  transition: all 240ms;
  @starting-style {
    opacity: 0;
    translate: 10px 0;
  }
}

.pointer {
  cursor: pointer;
}

[data-pattern] {
  --color: color-mix(in srgb, currentColor, transparent 90%);
  background-image: radial-gradient(var(--color) 10%, transparent 0);
  background-size: 1em 1em;
  background-position: center;
}
