<h3 class="mb-4">Reactive dropdown</h3>

<div style="height: 200px" class="border p-4 mb-5">
  <form [formGroup]="dropdownForm" class="horizontal">
    <ngg-dropdown
      [options]="options"
      formControlName="select1"
      text="Select"
    ></ngg-dropdown>
    <ngg-dropdown
      [options]="options"
      formControlName="select2"
      text="Select"
    ></ngg-dropdown>
  </form>
</div>
<div>Value: {{ dropdownForm.value | json }}</div>

<h3 class="mb-4 mt-4">Template-driven dropdown</h3>
<div style="height: 200px" class="border p-4 mb-5">
  <ngg-dropdown
    [(ngModel)]="templateDropdown"
    [options]="options"
    text="Select"
  ></ngg-dropdown>
</div>
<div>Value: {{ templateDropdown | json }}</div>
