.home-hero {
  pointer-events: none;
  user-select: none;

  * {
    pointer-events: none;
  }

  [data-name] {
    transition: all 420ms;

    &:nth-child(2) {
      transition-delay: 50ms;
    }

    &:nth-child(3) {
      transition-delay: 100ms;
    }

    &:nth-child(4) {
      transition-delay: 150ms;
    }

    &:nth-child(5) {
      transition-delay: 200ms;
    }

    &:nth-child(6) {
      transition-delay: 250ms;
    }

    &:nth-child(7) {
      transition-delay: 300ms;
    }

    &:nth-child(8) {
      transition-delay: 350ms;
    }

    &:nth-child(9) {
      transition-delay: 400ms;
    }

    &:nth-child(10) {
      transition-delay: 450ms;
    }

    @starting-style {
      opacity: 0;
      translate: 0 10px;
      filter: blur(20px);
    }
  }
}
