<h2>Modals</h2>
<div class="card">
  <h3>Default modal</h3>
  <ngg-modal
    [modalType]="defaultModalType"
    [header]="defaultModalHeader"
    [isOpen]="defaultModalIsOpen"
    [confirmLabel]="defaultModalConfirmLabel"
    [dismissLabel]="deafultModalDismissLabel"
    [trapFocus]="true"
    [hideHeader]="false"
    [hideFooter]="false"
    (closed)="defaultModalIsOpen = false"
  >
    <p>This modal has a Dropdown inside of it</p>
    <ngg-dropdown
      label="Countries"
      [options]="countries"
      display="name"
    ></ngg-dropdown>

    <ngg-datepicker></ngg-datepicker>
  </ngg-modal>
  <button (click)="defaultModalIsOpen = true">Open Modal</button>
</div>
