@use '../common';
@use 'button';
@use 'close';
@use 'card';
@use 'grid';
@use 'alert';
@use 'modal';
@use 'input';
@use 'link';
@use 'tabs-bar';
@use 'typography';
@use 'utility/spacing';
@use 'utility/colors';
@use 'utility/shadows';

// TODO: move and refactor
.size-sm {
  @include common.padding-horizontal(3);
  @include common.padding-vertical(2);
  @include common.font-size('s');
}
input.size-sm {
  height: 0.75rem;
}

.size-lg {
  @include common.padding-horizontal(6);
  @include common.padding-vertical(5);
  @include common.font-size('l');
}

.sr-only {
  display: none;
  @media speech {
    display: block;
  }
}
// TODO: should be part of global reset/reboot
// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

*,
*::before,
*::after {
  box-sizing: border-box;
}
