@font-face {
  font-family: 'SEBSansSerif-Regular';
  src:
    url('//esm.sh/@sebgroup/fonts@1.1.0/fonts/SEBSansSerif-Regular.woff2') format('woff2'),
    url('//esm.sh/@sebgroup/fonts@1.1.0/fonts/SEBSansSerif-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  color-scheme: light;
  --color-white: hsl(0 0% 100%);
  --color-black: hsla(60, 6%, 10%, 1);
  font-family: 'SEBSansSerif-Regular', sans-serif;
  margin: 0;
  padding: 0;
  /* 
  font-weight: 300;
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  position: relative; */

  background-color: color-mix(in srgb, var(--color-black), transparent 99%);
  --cell-lg: 56px;
  --cell-lg-cl: color-mix(in srgb, var(--color-black), transparent 99%);
  --cell-sm: 8px;
  --cell-sm-cl: color-mix(in srgb, var(--color-black), transparent 99%);

  background-image: linear-gradient(to right, transparent calc(var(--cell-lg) - 1px), var(--cell-lg-cl) 1px),
    linear-gradient(to bottom, transparent calc(var(--cell-lg) - 1px), var(--cell-lg-cl) 1px),
    linear-gradient(to right, transparent calc(var(--cell-sm) - 1px), var(--cell-sm-cl) 1px),
    linear-gradient(to bottom, transparent calc(var(--cell-sm) - 1px), var(--cell-sm-cl) 1px);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size:
    var(--cell-lg) 100%,
    100% var(--cell-lg),
    var(--cell-sm) 100%,
    100% var(--cell-sm);
  background-position: center;
  border: 1px solid color-mix(in srgb, var(--color-black), transparent 94%);

  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 1rem;
  min-block-size: 100vh;
  overflow: hidden;
}

/* @media (prefers-color-scheme: dark) { 
    body {
      --color-black: hsla(60, 6%, 10%, 1);
      --color-white: hsl(0 0% 100%);
    }
} */
