// load global styles used by storybook

// use fonts from chlorophyll
@use '../libs/chlorophyll/scss/components/fonts' with (
  $font-path: '../dist/fonts'
);
// use themes from chlorophyll
@use '../libs/chlorophyll/scss/components/themes';

// styling for storybook

.sidebar-header img {
  display: flex;
  margin-right: auto;
  height: 80px;
  width: auto;
}

.sidebar-subheading {
  text-transform: none !important;
  letter-spacing: normal !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.sidebar-subheading {
  color: var(--heading-primary-color) !important;
}

.sidebar-item {
  font-weight: 400 !important;
}

.sidebar-item svg {
  color: var(--text-primary-color);
}
