.taber {
  position: sticky;
  margin-top: 40px;
  margin-inline: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  border-radius: 200px;
  background-color: color-mix(
    in srgb,
    var(--gds-sys-color-container-container-dim1),
    transparent 10%
  );
  backdrop-filter: blur(20px);
  display: flex;
  gap: 4px;
  padding: 4px;
  z-index: 4;
  font-size: 14px;
  width: max-content;
  align-items: center;
  justify-content: center;

  & a {
    display: flex;
    color: var(--gds-sys-color-content-content);
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    transition: var(--transition);
    border-radius: 100px;

    &.active,
    &:hover {
      color: var(--gds-sys-color-content-content-inverse);
      background-color: var(--gds-sys-color-container-container-shade1);
      padding: 12px 20px;
    }

    svg {
      width: 14px;
      height: 14px;
      color: var(--color-black);
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;

      & path {
        stroke: currentColor;
      }
    }
  }
}
