@use '../../tokens';
@use '../../mixins/utility';
@use '../../functions';

$selector-default: 'button:not([class])';
$selector: 'button';
$selector-primary: '.primary';

@mixin base {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include utility.padding-horizontal(5);
  @include utility.padding-vertical(4);
  @include utility.add-border-radius();
  @include utility.add-border();
  @include utility.font-weight('medium');
  @include utility.add-focus();

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

@mixin primary {
  background: map-get(tokens.$theme-colors, 'primary');
  color: functions.choose-contrast-color(
    map-get(tokens.$theme-colors, 'primary')
  );
  @include utility.add-hover-active-state();
}
