@use '../../tokens';
@use '../../common';

@mixin base {
  border: none;
  background-color: transparent;
  color: map-get(tokens.$theme-colors, 'primary');
  border-color: map-get(tokens.$theme-colors, 'primary');
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include common.padding-horizontal(5);
  @include common.padding-vertical(4);
  @include common.add-border-radius();
  @include common.add-border();
  @include common.font-weight('medium');
  @include common.add-focus();

  @include common.add-hover-active-state();

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

@mixin primary {
  background: map-get(tokens.$theme-colors, 'primary');
  color: common.choose-contrast-color(map-get(tokens.$theme-colors, 'primary'));
  @include common.add-hover-active-state();
}

@mixin ghost {
  background-color: transparent;
  color: map-get(tokens.$grey, 1);
  border-color: map-get(tokens.$grey, 1);
  @include common.add-hover-active-state(
    map-get(tokens.$grey, 1),
    map-get(tokens.$grey, 1)
  );
}
