.trail {
  display: flex;
  margin-block-end: 40px;
  font-size: 14px;
  line-height: 1.25;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;

    li {
      text-transform: capitalize;
      list-style: none;
      text-underline-offset: 3px;

      &.active {
        a {
          pointer-events: none;
          text-decoration: none;
        }
      }
    }
  }
}
