// styling for storybook

.sbdocs {
  font-family: inherit !important;
}

.sbdocs,
.sbdocs code,
.docs-story > div,
.docs-story > div > button:not(.docblock-code-toggle) {
  background: inherit !important;
  color: inherit !important;
}

button.docblock-code-toggle,
.docblock-source > div > button {
  border-radius: 5px 0;
  background: var(--border-color) !important;
  font-weight: 700;
  border: none;
  color: var(--text-primary-color);
  margin: -1px;
  opacity: 0.6;
  transition: all 300ms;
  &:hover {
    opacity: 1;
    color: var(--text-primary-color) !important;
  }
  &--disabled:disabled {
    background: none !important;
    border: solid 1px var(--border-color) !important;
    &:hover {
      color: var(--border-color) !important;
    }
  }
}

.docs-story + div > div > button {
  border-radius: 5px 0;
}

.docs-story {
  padding-bottom: 2rem;
}

.docblock-source > div {
  background: transparent;
}

.sbdocs.sbdocs-preview,
.docblock-source {
  box-shadow: var(--sg-card-box-shadow) !important;
  border: none;
  border-radius: var(--sg-card-border-radius) !important;
  background: var(--sg-card-background) !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
}

div[role='alert'] {
  background: var(--background) !important;
  color: var(--color) !important;
}
