<h3 class="mb-4">Datepicker (FormControl)</h3>
Value: {{ dateForm.value.date | json }}
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <form [formGroup]="dateForm">
    <ngg-datepicker formControlName="date"></ngg-datepicker>
    <ngg-datepicker formControlName="dateEmpty"></ngg-datepicker>
  </form>
</div>

<h3 class="mb-4 mt-4">Datepicker (NgModel)</h3>
Value: {{ ngModelDate | json }}
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <ngg-datepicker [(ngModel)]="ngModelDate"></ngg-datepicker>
  <ngg-datepicker [(ngModel)]="ngModelDateEmpty"></ngg-datepicker>
</div>

<h3 class="mb-4 mt-4">Datepicker (value)</h3>
Value: {{ value | json }}
<div class="border p-4 mt-4 mb-5" style="height: 420px">
  <ngg-datepicker [(value)]="value"></ngg-datepicker>
  <ngg-datepicker [(value)]="valueEmpty"></ngg-datepicker>
</div>
