/* You can add global styles to this file, and also import other style files */

//@use './libs/chlorophyll/scss';

@use './libs/chlorophyll/scss/components/themes/' as themes;
@use './libs/chlorophyll/scss/components/reset/' as reset;
@use '@sebgroup/fonts/scss/seb-fonts';

@use './libs/chlorophyll/scss/components/utility';
@use './libs/chlorophyll/scss/components/grid';
@use './libs/chlorophyll/scss/components/form';

//@use '@sebgroup/chlorophyll/scss/components/button';
@use './libs/chlorophyll/scss/components/tabs-bar';
@use './libs/chlorophyll/scss/components/navbar';
@use './libs/chlorophyll/scss/components/dropdown';
@use './libs/chlorophyll/scss/components/datepicker';
@use './libs/chlorophyll/scss/components/context-menu';
@use './libs/chlorophyll/scss/components/modal';

@use './libs/charts/scss' as charts;
