@use '../tokens';
@mixin margin($size) {
  margin: map-get(tokens.$spacing, $size);
}
@mixin margin-start($size) {
  margin-left: map-get(tokens.$spacing, $size);
}
@mixin margin-end($size) {
  margin-right: map-get(tokens.$spacing, $size);
}
@mixin margin-top($size) {
  margin-top: map-get(tokens.$spacing, $size);
}
@mixin margin-bottom($size) {
  margin-bottom: map-get(tokens.$spacing, $size);
}
@mixin margin-horizontal($size) {
  margin-left: map-get(tokens.$spacing, $size);
  margin-right: map-get(tokens.$spacing, $size);
}

@mixin margin-vertical($size) {
  margin-bottom: map-get(tokens.$spacing, $size);
  margin-top: map-get(tokens.$spacing, $size);
}

@mixin padding($size, $spacing: tokens.$spacing) {
  padding: map-get($spacing, $size);
}

@mixin padding-start($size) {
  padding-left: map-get(tokens.$spacing, $size);
}

@mixin padding-end($size) {
  padding-right: map-get(tokens.$spacing, $size);
}

@mixin padding-top($size) {
  padding-right: map-get(tokens.$spacing, $size);
}

@mixin padding-bottom($size) {
  padding-left: map-get(tokens.$spacing, $size);
}

@mixin padding-horizontal($size) {
  padding-left: map-get(tokens.$spacing, $size);
  padding-right: map-get(tokens.$spacing, $size);
}

@mixin padding-vertical($size) {
  padding-bottom: map-get(tokens.$spacing, $size);
  padding-top: map-get(tokens.$spacing, $size);
}

@mixin min-width($size) {
  min-width: map-get(tokens.$spacing, $size);
}
