/* article.status {
  > div {
    display: flex;
    gap: 20px;

    > div {
      flex: 1;
      position: relative;
      width: 280px;

      &:first-child {
        &::before {
          content: attr(title);
          position: absolute;
          top: -2ex;
          opacity: 0.5;
        }
      }
    }
  }
} */
