@use './color';

$padding-spacing: 5;
$header-spacing-top: 0;
$header-spacing-bottom: 4;
$background: color.$white;
$border: 0;
$border-radius: 0;
$layout-direction: column;
$shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
