$variable-prefix: sg-;
$enable-grid-classes: true;
$include-column-box-sizing: true;
@forward 'color';
@forward 'animation';
@forward 'spacing';
@forward 'typography';
@forward 'grid';
@forward 'icon';
@forward 'border' as border-*;
