$shape-button-display: inline-block;
$shape-button-padding-v: 0;
$shape-button-padding-h: 16px;
$shape-button-margin: 0px;
$shape-button-borderRadius: .25em;
$shape-input-display: inline-block;
$shape-input-padding-v: 0;
$shape-input-padding-h: 16px;
$shape-input-margin: 0px;
$shape-input-borderRadius: 4px;
