$typography-desktop-display-family: ;
$typography-desktop-display-weight: 700;
$typography-desktop-display-size: 96px;
$typography-desktop-display-lineHeight: 100px;
$typography-desktop-h1-family: ;
$typography-desktop-h1-weight: 700;
$typography-desktop-h1-size: 48px;
$typography-desktop-h1-lineHeight: 56px;
$typography-desktop-h2-family: ;
$typography-desktop-h2-weight: 700;
$typography-desktop-h2-size: 32px;
$typography-desktop-h2-lineHeight: 40px;
$typography-desktop-h3-family: ;
$typography-desktop-h3-weight: 700;
$typography-desktop-h3-size: 24px;
$typography-desktop-h3-lineHeight: 32px;
$typography-desktop-h4-family: ;
$typography-desktop-h4-weight: 500;
$typography-desktop-h4-size: 20px;
$typography-desktop-h4-lineHeight: 28px;
$typography-desktop-h5-family: ;
$typography-desktop-h5-weight: 500;
$typography-desktop-h5-size: 16px;
$typography-desktop-h5-lineHeight: 24px;
$typography-desktop-h6-family: ;
$typography-desktop-h6-weight: 400;
$typography-desktop-h6-size: 14px;
$typography-desktop-h6-lineHeight: 20px;
$typography-desktop-body-family: ;
$typography-desktop-body-weight: 400;
$typography-desktop-body-size: 16px;
$typography-desktop-body-lineHeight: 24px;
$typography-desktop-link-family: ;
$typography-desktop-link-weight: 500;
$typography-desktop-link-size: 16px;
$typography-desktop-link-lineHeight: 24px;
$typography-tablet-display-family: ;
$typography-tablet-display-weight: 700;
$typography-tablet-display-size: 64px;
$typography-tablet-display-lineHeight: 72px;
$typography-tablet-h1-family: ;
$typography-tablet-h1-weight: 700;
$typography-tablet-h1-size: 40px;
$typography-tablet-h1-lineHeight: 48px;
$typography-tablet-h2-family: ;
$typography-tablet-h2-weight: 700;
$typography-tablet-h2-size: 24px;
$typography-tablet-h2-lineHeight: 32px;
$typography-tablet-h3-family: ;
$typography-tablet-h3-weight: 700;
$typography-tablet-h3-size: 20px;
$typography-tablet-h3-lineHeight: 28px;
$typography-tablet-h4-family: ;
$typography-tablet-h4-weight: 500;
$typography-tablet-h4-size: 20px;
$typography-tablet-h4-lineHeight: 28px;
$typography-tablet-h5-family: ;
$typography-tablet-h5-weight: 500;
$typography-tablet-h5-size: 16px;
$typography-tablet-h5-lineHeight: 24px;
$typography-tablet-h6-family: ;
$typography-tablet-h6-weight: 400;
$typography-tablet-h6-size: 14px;
$typography-tablet-h6-lineHeight: 20px;
$typography-tablet-body-family: ;
$typography-tablet-body-weight: 400;
$typography-tablet-body-size: 16px;
$typography-tablet-body-lineHeight: 24px;
$typography-tablet-link-family: ;
$typography-tablet-link-weight: 500;
$typography-tablet-link-size: 16px;
$typography-tablet-link-lineHeight: 24px;
$typography-mobile-display-family: ;
$typography-mobile-display-weight: 700;
$typography-mobile-display-size: 48px;
$typography-mobile-display-lineHeight: 56px;
$typography-mobile-h1-family: ;
$typography-mobile-h1-weight: 700;
$typography-mobile-h1-size: 32px;
$typography-mobile-h1-lineHeight: 40px;
$typography-mobile-h2-family: ;
$typography-mobile-h2-weight: 700;
$typography-mobile-h2-size: 24px;
$typography-mobile-h2-lineHeight: 32px;
$typography-mobile-h3-family: ;
$typography-mobile-h3-weight: 700;
$typography-mobile-h3-size: 20px;
$typography-mobile-h3-lineHeight: 28px;
$typography-mobile-h4-family: ;
$typography-mobile-h4-weight: 500;
$typography-mobile-h4-size: 20px;
$typography-mobile-h4-lineHeight: 28px;
$typography-mobile-h5-family: ;
$typography-mobile-h5-weight: 500;
$typography-mobile-h5-size: 16px;
$typography-mobile-h5-lineHeight: 24px;
$typography-mobile-h6-family: ;
$typography-mobile-h6-weight: 400;
$typography-mobile-h6-size: 14px;
$typography-mobile-h6-lineHeight: 20px;
$typography-mobile-body-family: ;
$typography-mobile-body-weight: 400;
$typography-mobile-body-size: 16px;
$typography-mobile-body-lineHeight: 24px;
$typography-mobile-link-family: ;
$typography-mobile-link-weight: 500;
$typography-mobile-link-size: 16px;
$typography-mobile-link-lineHeight: 24px;
