.do {
  --_cl: var(--gds-sys-color-accent-accent-green);
  --_bg: var(--gds-sys-color-custom-custom-green-bright);
  --_br: var(--gds-sys-color-accent-accent-green);
  --_fs: 14px;
  --_gp: 8px;
  --_pd: 8px;
  display: flex;
  border: 1px solid var(--_br);
  border-radius: 8px;
  flex-direction: column;
  overflow: hidden;

  span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background: var(--_bg);
    color: var(--_cl);
    gap: var(--_gp);
    font-size: var(--_fs);
    padding: var(--_pd);
    margin-block-start: 0 !important;
    border-top: 1px solid var(--_br);
    font-weight: 600;
    opacity: 1 !important;

    svg {
      width: 18px;
      height: 18px;
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  figure.preview {
    border-radius: 0;
    margin: 0;
    margin-inline-end: 0px;
  }
}
