header.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gds-sys-color-content-content);
  background-color: color-mix(
    in srgb,
    var(--gds-sys-color-background-background),
    transparent 4%
  );
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.25;
  border-bottom: 1px solid var(--gds-sys-color-stroke-stroke-variant2);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 5;
  max-block-size: var(--header-height);
  block-size: var(--header-height);
  padding-inline: var(--gds-gap-l);
  grid-area: header;

  .logo {
    display: flex;
    position: absolute;
    inset: auto 0;
    margin-inline: auto;
    max-inline-size: max-content;

    svg {
      height: 24px;
      width: auto;
      fill: none;
      stroke: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;

    svg {
      height: 16px;
    }
  }

  .hamburger {
    min-inline-size: 64px;
    display: flex;
    gap: 10px;
    border: none;
    border-bottom: 1px solid transparent;
    background: none;
    cursor: pointer;
    align-items: center;
    gap: 1ch;
    min-block-size: 100%;
    padding: 0 16px;
    transition: var(--transition);
    color: currentColor;

    &.active {
      border-color: color-mix(in srgb, var(--color-black), transparent 60%);
    }

    &:hover {
      border-color: color-mix(in srgb, var(--color-black), transparent 80%);
    }
  }

  .shortcut {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--gds-sys-color-stroke-stroke-variant2);
    background-color: transparent;
    color: currentColor;
    display: flex;
    gap: 14px;
    font-size-adjust: 0.5rem;
    margin-inline-end: 0.4rem;
    padding: 10px 20px 10px 16px;
    line-height: 1;
    min-block-size: max-content;
    cursor: pointer;
    transition: all 286ms var(--transition);

    @media screen and (max-width: calc(36rem - 1px)) {
      display: none;
    }

    svg {
      width: 14px;
      height: 14px;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--color-black), transparent 90%);
    }
  }

  .github,
  .theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 200px;
    transition: var(--transition);
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: currentColor;

    &:hover {
      background-color: color-mix(in srgb, var(--color-black), transparent 90%);
    }
  }
}
