.search-result {
  display: flex;
  flex-direction: column;
  padding: var(--gds-sys-space-s);
  border-radius: var(--gds-sys-radius-s);
}

.search-result:hover {
  background-color: color-mix(
    in srgb,
    transparent,
    var(--gds-sys-color-state-neutral-03)
  );
}
