@layer core {
  @layer layouts {
    @layer main {
      body > main {
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .layout {
          &.core {
            max-width: 1600px;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 100px;
            padding: 1rem 1rem 4rem;
            @media screen and (min-width: 48rem) {
              padding: 2.5rem 2.5rem 7.5rem;
            }

            .container-fluid {
              padding: 0;
            }

            .home h2 {
              font-size: 1.75rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.28571;
            }

            color: var(--gds-sys-color-content-content);

            h2 {
              font-size: 28px;
              line-height: 1.25;
              color: var(--gds-sys-color-content-content);
            }

            p {
              color: var(--gds-sys-color-content-content-secondary);
            }

            .component-list {
              a {
                @media screen and (min-width: 36rem) {
                  inline-size: calc(100% / 2 - 20px);
                }

                @media screen and (min-width: 48rem) {
                  inline-size: calc(100% / 3 - 40px);
                }

                background-color: var(--gds-sys-color-container-container);
                border: none;
                gap: 24px;
                flex-direction: column;
                display: flex;
                padding: 24px;
                border-radius: 12px;
                transition: var(--transition);

                figure {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: auto;
                  aspect-ratio: 16 / 9;
                  border-radius: 8px !important;
                  padding: 20px;
                }

                > div {
                  text-decoration: underline;
                  text-underline-offset: 2px;
                }

                &:hover {
                  background-color: var(
                    --gds-sys-color-container-container-dim1
                  );
                }
              }
            }

            .home-components {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              gap: 24px;

              div {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
              }
            }

            .home-resources {
              display: flex;
              gap: 24px;
              flex-direction: column;
              .list {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                @media screen and (min-width: 62rem) {
                  flex-direction: row;
                  gap: 2rem;
                }
              }

              .cta-home {
                display: flex;

                flex-direction: row;

                @media screen and (min-width: 62rem) {
                  inline-size: calc(100% / 3 - 1rem);
                }

                padding: 24px;
                gap: 24px;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                background-color: var(--gds-sys-color-container-container);
                transition: var(--transition);
                max-height: max-content;
                box-sizing: border-box;

                &:hover {
                  background-color: var(
                    --gds-sys-color-container-container-dim1
                  );
                }

                span {
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  gap: 8px;
                  font-size: 20px;
                  line-height: 1;
                  &::before {
                    content: attr(data-caption);
                    display: flex;
                    line-height: 1;
                    font-size: 14px;
                  }
                }

                div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 40px;
                  width: 40px;
                  border-radius: 200px;
                  background-color: color-mix(
                    in srgb,
                    var(--color-black),
                    transparent 94%
                  );
                }

                svg {
                  fill: none;
                  stroke: currentColor;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  width: 14px;
                  height: auto;
                }
              }
            }

            .home-quote {
              display: flex;
              flex-direction: column;

              @media screen and (min-width: 62rem) {
                flex-direction: row;
              }

              gap: 32px;

              > * {
                flex: 1;
              }

              /* h2 {
                font-size: 28px;
                line-height: 1.25;
                color: ;
              } */

              & > p {
                font-size: 24px !important;
                line-height: 1.25 !important;
              }
            }
          }

          &.\34 04 {
            min-height: 60vh;
          }
        }
      }
    }
  }
}
