@layer core {
  @layer reset {
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }

    ::selection {
      background-color: #292929;
      color: #fefefe;
    }

    ol,
    ul,
    li,
    menu {
      list-style: none;
    }

    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
      font: inherit;
    }

    input::placeholder,
    textarea::placeholder {
      opacity: 1;
      color: currentColor;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    [clamp] {
      text-overflow: "ellipsis";
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
    }

    [hidden] {
      display: none;
    }

    /* ::marker {
      content: "—";
      display: none;
    } */
  }
}
