/* 2560 */
/* 1440 */
/* 1024 */
/* 768 */
/* 425 */

@media screen and (max-width: 2560px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .layout.component article aside {
    display: none;
  }

  .layout.component header {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .layout.component header .content {
    order: 1;
    gap: 48px;
  }

  .layout.component header figure {
    min-inline-size: 100%;
    max-inline-size: 100%;
  }

  .row {
    flex-direction: column;
  }

  .alert {
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px 24px;
    svg {
      width: 12px;
      height: 12px;
    }
  }

  header.main {
    position: fixed;
    top: 30px;
    width: 100%;
  }

  aside.nav {
    top: calc(var(--header-height) + 30px);
  }
}

@media screen and (max-width: 425px) {
}
