.layout.changelog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  max-width: 1100px;
  margin-inline: auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    article {
      display: flex;
      align-items: flex-start;
      gap: 4rem;

      aside {
        position: sticky;
        top: 120px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        background-color: var(--gds-sys-color-container-container);
        border-radius: 8px;
        gap: 0.5rem;
        padding: 0.5rem;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: max-content;
        }

        time {
          font-size: 10px;
          opacity: 0.5;
        }
      }

      h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 600;
        margin-block-end: 1rem;
      }

      h2 {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 600;
        margin-block-end: 1rem;
      }

      h3 {
        font-size: 1.05rem;
        margin-top: 2ex;
        font-weight: 600;
        margin-block-end: 1rem;
      }

      a {
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
        text-decoration-color: color-mix(
          in srgb,
          var(--color-black),
          transparent 40%
        );
        text-decoration: none;
      }

      p {
        margin-block-end: 1rem;
        max-width: 75ch;
        > a {
          text-decoration: underline;
        }
      }

      ul > li > ul {
        padding-inline-start: 1rem;
        padding-block-start: 0.5rem;
        margin-block-end: 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-size: 16px;
        margin-block-end: 1rem;

        li {
          list-style-position: inside;

          &::before {
            content: "•";
            margin-right: 1ch;
            opacity: 0.2;
          }

          > a {
            text-decoration: underline;
          }

          code {
            font: inherit;
            padding: 4px 8px;
            border-radius: 8px;
            margin-inline: 1ch;
            background-color: color-mix(
              in srgb,
              var(--color-black),
              transparent 99%
            );
            color: var(--color-black);
            border: 1px solid
              color-mix(in srgb, var(--color-black), transparent 95%);
          }
        }
      }

      code {
        font-family: monospace;
        background: var(--gds-sys-color-container-container-shade1);
        display: inline-block;
        color: var(--gds-sys-color-content-content-inverse);
        padding: 0 0.25rem;

        border-radius: 0.25rem;
        word-wrap: no-wrap;
      }
    }
  }
}
