footer.main-footer {
  padding: 3rem 1rem;
  gap: 4rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
    gap: 6.25rem;
  }

  border-top: 1px solid var(--gds-sys-color-stroke-stroke-variant2);
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;

  h2 {
    font-size: 40px;
    line-height: 1.2;
  }

  button.cookie-preferences {
    background: none;
    border: none;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .col {
      width: calc(100% / 2 - 2rem);
    }

    @media screen and (min-width: 768px) {
      gap: 6.25rem;

      .col {
        width: auto;
      }
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        a,
        button {
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.25rem; /* 125% */
          letter-spacing: 0.00625rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main-footer__bottom {
    display: flex;
    justify-content: space-between;
  }
}
