.hero {
  --mix: color-mix(in srgb, currentColor, transparent 96%);
  display: flex;
  min-height: calc(100vh - 150px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-block-end: 0;
  
  h1 {
    font-size: 2rem;
    line-height: 1.12;
    margin-bottom: 1ex;
    text-wrap: balance;
    max-width: 35ch;

    @media screen and (min-width: 62rem) {
      font-size: 5.125rem;
    }
  }

  p {
    color: var(--gds-sys-color-content-content-secondary);
    font-size: 1.25rem;
    line-height: 1.25;
    text-wrap: balance;
    max-width: 45ch;
    font-weight: 400;

    @media screen and (min-width: 62rem) {
      font-size: 2rem;
    }
  }
}

a.cta {
  border-radius: 200px;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 16px 20px;
  position: fixed;
  margin-left: auto;
  right: 40px;
  bottom: 40px;
  max-width: max-content;
}
