.hero {
  display: flex;
  min-height: calc(100vh - 220px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-block-end: 0;
  max-width: 100ch;
  gap: var(--gds-gap-xxl);

  @media screen and (min-height: 2000px) and (orientation: portrait) {
    min-height: 50vh;
  }
}
